<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined') { %>
                  <% alerts.map(function (alert){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %> 
                <% } %>                   
                <form action="/admin/tipos/fraudes/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idtipo" id="idtipo" value = <%- datos.tipo.IDTIPO %>>
                  <div class="card-header">
                    <h3 class="card-title">Tipo Fraude</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label required">Descripción</label>
                          <input type="text" name="destip" id="destip" class="form-control" value="<%- datos.tipo.DESTIP %>" style="text-transform: uppercase;" autofocus/>
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/tipos/fraudes" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Modificar tipo</button>
                    </div>
                  </div>
                </form>
              </div>                
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
    const destip = document.getElementById('destip')

    const validate = () => {
      const destipValue = destip.value.trim()

      if (destipValue === '') {
        setError(destip, 'Descripción requerida')
        setTimeout(function () {
          setSuccess(destip)
        }, 3000)
        return false
      } else {
        setSuccess(destip)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>
</html>