<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Calendario Festivos</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/js-year-calendar.min.css" />
    <style>
      .calendar-header {
        border: none !important;
        margin-bottom: 0 !important;
      }
    
      .subtitulo {
        margin: 0;
        align-items: center;
        justify-content: center;
        color: #656d77;
        pointer-events: none;
        font-size: 0.8em;
      }
    
      .day {
        border: 1px solid #e6e8e9 !important;
      }
    
      .new,
      .old {
        border: none !important;
      }
    
      .calendar table.month th.day-header {
        font-size: 0.75rem;
        color: #616876;
      }
    </style>
  </head>

  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../partials/header') %>
      <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <form action="#" id="upd" method="POST">
                    <input type="hidden" name="eventos" id="eventos" value="" />
                    <input type="hidden" name="idofic" id="idofic" value="<%= datos.oficina.IDOFIC %>" />
                    <div class="card-header p-2">
                      <div class="d-block">
                        <h3 class="card-title">Calendario Festivos</h3>
                        <div>
                          <p class="subtitulo">
                            <span class="text-muted">
                              <%= datos.oficina.DESOFI %>
                            </span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body p-2">
                      <div class="row">
                        <div class="col-2">
                          <div class="mb-1">
                            <select class="form-select" id="cboyea" value="">
                              <option value="<%- new Date().getFullYear() %>">
                                <%- new Date().getFullYear() %>
                              </option>
                              <option value="<%- new Date().getFullYear() +1 %>">
                                <%- new Date().getFullYear() +1 %>
                              </option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div id="calendar" class="form-control"></div>
                    </div>
                    <div class="card-footer p-2">
                      <div class="d-flex">
                        <input class="btn btn-white" action="action" onclick="window.history.go(-1); return false;" type="submit" value="Cancelar" />
                        <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="24" width="24" viewBox="0 0 24 24"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke-width=".4" fill="none"
                              d="M11.025 19.575H5.9q-.65 0-1.062-.412-.413-.413-.413-1.038V5.875q0-.65.413-1.063.412-.412.987-.412h4.8q.1-.5.463-.838.362-.337.887-.337t.888.337q.362.338.462.838h4.8q.65 0 1.063.412.412.413.412 1.063V10h-.65V5.85q0-.3-.25-.55-.25-.25-.55-.25h-2.525v1.925H8.4V5.05H5.875q-.3 0-.55.25-.25.25-.25.55v12.275q0 .3.25.55.25.25.55.25h5.15Zm4.45-.675L12.2 15.6l.45-.45 2.825 2.825 5.65-5.65.475.45ZM12 5.3q.325 0 .525-.212.2-.213.2-.513 0-.3-.212-.513-.213-.212-.488-.212-.325 0-.525.212-.2.213-.2.513 0 .3.2.513.2.212.5.212Z" />
                          </svg>
                          Actualizar cambios
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../partials/footer') %>
    </div>

    <script src="/js/ayuda.min.js"></script>
    <script src="/js/js-year-calendar.min.js"></script>
    <script src="/js/js-year-calendar.es.min.js"></script>
    <script src="/js/calendarioFestivos.min.js"></script>
    <script>
      let dataSource = <%- datos.dataSource %>
      const oficina = <%- JSON.stringify(datos.oficina) %>
    </script>
  </body>
</html>
