<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Calendario Festivos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel='stylesheet' href='/css/js-year-calendar.css'>
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card mt-1">
                <% if(typeof alerts !='undefined' ) { %>
                <% alerts.map(function (alert){ %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <%- alert.msg %>
                </div>
                <% }) %>
                <% } %>
                <form action="/admin/calendarios/calendario" method="POST">
                  <input type="hidden" name="idusua" id="idusua" value="">
                  <input type="hidden" name="tipest" id="tipest" value="">
                  <div class="card-header">
                    <h3 class="card-title">Calendario Festivos</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <div class="form-label">Año</div>
                          <select class="form-select" id="cboyea" value="">
                            <option value="<%- new Date().getFullYear() %>">
                              <%- new Date().getFullYear() %>
                            </option>
                            <option value="<%- new Date().getFullYear() +1 %>">
                              <%- new Date().getFullYear() +1 %>
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="form-label">Oficina</div>
                          <select class="form-select" id="cboofi" name="ofiusu" value="">
                            <option value="0" selected>
                              FESTIVOS COMUNES
                            </option>
                            <% datos.oficinas.map(element=> { %>
                            <option value="<%- element.IDOFIC %>">
                              <%- element.DESOFI %>
                            </option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div id="calendar"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/js/js-year-calendar.js"></script>
  <script src="/js/js-year-calendar.es.js"></script>
  <script>
    async function insertEvento(evento) {
      let xhr = new XMLHttpRequest()

      return new Promise(function(resolve, reject) {
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            if (xhr.status !== 200) {
              reject("Error, status code = " + xhr.status)
            } else {
              const result = JSON.parse(xhr.response)
              const d = result.FECFES.split('/')

              // insert en el calendario
              let dataSource = calendario.getDataSource()
              const estado = {
                idfest: result.idfest,
                id: result.idfest,
                startDate: new Date(d[2] + '-' + d[1] + '-' + d[0]),
                endDate: new Date(d[2] + '-' + d[1] + '-' + d[0]),
                color: "#FF0000",
              }

              dataSource.push(estado)
            }
          }
        }

        xhr.open('POST', 'http://localhost:8100/api/festivos/insert', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify(evento))
      })
    }
    async function deleteEvento(evento) {
      const xhr = new XMLHttpRequest()

      return new Promise(function(resolve, reject) {
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            if (xhr.status !== 200) {
              reject("Error, status code = " + xhr.status)
            } else {
              // update el calendario
              let dataSource = calendario.getDataSource()

              dataSource = dataSource.filter(itm => itm.idfest !== evento.festivo.IDFEST)
            }
          }
        }

        xhr.open('POST', 'http://localhost:8100/api/festivos/delete', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        xhr.send(JSON.stringify(evento))
      })
    }
    async function getFestivosWithPromise(prms) {
      var xhr = new XMLHttpRequest();

      return new Promise(function(resolve, reject) {
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            if (xhr.status !== 200) {
              reject("Error, status code = " + xhr.status)
            } else {
              resolve(JSON.parse(xhr.response))
            }
          }
        }

        xhr.open('POST', 'http://localhost:8100/api/festivos/locales', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8')
        xhr.send(JSON.stringify(prms))
      })
    }
    async function getFestivos(prms) {
      estados = await getFestivosWithPromise(prms)

      let data = []

      estados.map(itm => {
        const estado = {
          idfest: itm.IDFEST,
          id: itm.IDFEST,
          startDate: new Date(itm.FECFES),
          endDate: new Date(itm.FECFES),
          color: '#FF0000',
        }
        data.push(estado)
      })

      calendario.setDataSource(data)
    }
  </script>
  <script>
    let estados = null
    let calendario = null
    let currentYear = new Date().getFullYear()
    let params = {
      ofifes: 0,
      desde: new Date(currentYear, 0, 1).toLocaleDateString(undefined, {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
      }),
      hasta: new Date(currentYear, 11, 31).toLocaleDateString(undefined, {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
      }),
    }

    calendario = new Calendar("#calendar", {
      minDate: new Date(currentYear, 0, 1),
      maxDate: new Date(currentYear, 11, 31),
      language: "es",
    })

    document.getElementById('cboyea').addEventListener('change', function() {
      calendario.setYear(document.querySelector("#cboyea").value);
      calendario.setMinDate(new Date(document.querySelector("#cboyea").value, 0, 1));
      calendario.setMaxDate(new Date(document.querySelector("#cboyea").value, 11, 31));

      currentYear = parseInt(document.querySelector("#cboyea").value)
      params.desde = new Date(document.querySelector("#cboyea").value, 0, 1).toLocaleDateString(undefined, {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
      })
      params.hasta = new Date(document.querySelector("#cboyea").value, 11, 31).toLocaleDateString(undefined, {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit'
      })

      getFestivos(params)
    });
    document.getElementById('cboofi').addEventListener('change', function() {
      params.ofifes = parseInt(this.value)

      getFestivos(params)
    });
    document.querySelector('#calendar').addEventListener('clickDay', async function(e) {
      // bloquear festivos
      if (e.events.length > 0 &&
        e.element.classList.contains('domingo')) {
        return
      }

      if (e.element.style.boxShadow) {
        e.element.style.boxShadow = null
      } else {
        e.element.style.boxShadow = '#FF0000 0px -4px 0px 0px inset'
      }

      if (e.events.length) {
        if (e.events[0].id > 0) {
          const evento = {
            festivo: {
              IDFEST: e.events[0].idfest,
              OFIFES: params.ofifes,
            },
            movimiento: {
              USUMOV: <%- user.id %>,
              TIPMOV: <%- datos.tiposMovimiento.borrarFestivo %>
            }
          }

          await deleteEvento(evento)
        }
      } else {
        const evento = {
          festivo: {
            FECFES: e.date.toLocaleDateString(undefined, {
              year: 'numeric',
              month: '2-digit',
              day: '2-digit'
            }),
            OFIFES: params.ofifes,
          },
          movimiento: {
            USUMOV: <%- user.id %>,
            TIPMOV: <%- datos.tiposMovimiento.crearFestivo %>
          }
        }

        await insertEvento(evento)
      }
    })

    getFestivos(params)
  </script>

</body>

</html>