<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Festivos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <script>
    const getCookie = (key) => {
      let value = ''
      document.cookie.split(';').forEach((e) => {
        if (e.includes(key)) {
          value = e.split('=')[1]
        }
      })
      return value
    }
    const setCookie = (name, value, days) => {
      let expires = "";
      if (days) {
        let date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      // document.cookie = name + "=" + (encodeURIComponent(value) || "")  + expires + "; path=/";
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }
    const deleteCookie = () => {
      document.cookie = 'filtro=; expires=Thu, 01 Jan 1970 00:00:01 GMT; Path=/;'
    }
  </script>
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
      <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
        <div class="page-wrapper">
          <div class="page-body">
            <div class="container-xl">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Oficinas</h3>
                      <div class="col-auto ms-auto">
                        <div class="d-flex">
                          <form action="/admin/festivos" method="GET">
                            <div class="input-icon me-3">
                              <span class="input-icon-addon">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                  stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                  <circle cx="10" cy="10" r="7"></circle>
                                  <line x1="21" y1="21" x2="15" y2="15"></line>
                                </svg>
                              </span>
                              <input type="text" class="form-control d-inline-block me-3" id="buscarOficinaBox"
                                name="part" placeholder="Buscar..." aria-label="Buscar en oficinas">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <table class="table table-vcenter table-striped sortable" id="tblOficinas">
                        <thead>
                          <tr class="header">
                            <th class="w-4"></th>
                            <th>Descipción</th>
                            <th class="w-4"></th>
                          </tr>
                        </thead>
                        <tbody id="table-body">
                        </tbody>
                      </table>
                      <div id="pagination-wrapper" class="py-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/js/festivo.js"></script>
  <script>
    const orgList = <%- JSON.stringify(datos.oficinas) %>
      const cursor = <%- JSON.stringify(datos.cursor) %>
      const hasNextOficinas = <%- datos.hasNextOficinas %>
      const hasPrevOficinas = <%- datos.hasPrevOficinas %>

      let state = {
        'querySet': orgList,
        'page': 1,
        'rows': 10,
      }

    // events
    const elemBuscar = document.getElementById('buscarOficinaBox');
    elemBuscar.onchange = (event) => {
      setCookie('filtro', event.target.value, .5) // medio dia
    }
    elemBuscar.value = getCookie('filtro')

    buildTable(state)
  </script>
</body>

</html>