<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FRAUDES'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined' ) { %>
                  <% alerts.map(function (alert) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>
                <form id="form" action="/admin/fraudes/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idfrau" id="idfrau" value="<%- datos.fraude.IDFRAU %>">
                  <div class="card-header">
                    <h3 class="card-title">Editar fraude</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">NIF/NIE</label>
                            <input type="text" name="nifcon" id="nifcon" class="form-control" style="text-transform: uppercase;" value="<%- datos.fraude.NIFCON %>" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Nombre</label>
                            <input type="text" name="nomcon" id="nomcon" class="form-control" style="text-transform: uppercase;" value="<%- datos.fraude.NOMCON %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">Correo electrónico</label>
                          <input type="text" name="emacon" id="emacon" class="form-control" value="<%- datos.fraude.EMACON %>" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <div class="mb-1">
                          <div class="form-label">Tipo</div>
                          <select class="form-select" id="cbotip" name="tipfra" value="<%- datos.fraude.TIPFRA %>">
                          </select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Ejercicio</label>
                            <input type="number" name="ejefra" id="ejefra" class="form-control" value="<%- datos.fraude.EJEFRA %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-1">
                        <div class="mb-1">
                          <label class="form-label">Adm</label>
                          <input type="text" name="funfra" id="funfra" class="form-control" value="<%- datos.fraude.FUNFRA %>" readonly />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Fecha</label>
                            <input type="date" name="fecfra" id="fecfra" class="form-control" value="<%- datos.fraude.FECFRA %>" <%- datos.fraude.FUNFRA === 'SYSTEM' ? 'readonly' : '' %>/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-5">
                        <div class="mb-1">
                          <div class="form-label">Oficina</div>
                          <select class="form-select" id="cboofi" name="ofifra" value="<%- datos.fraude.OFIFRA %>">
                          </select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-3">
                          <label class="form-label">Teléfono</label>
                          <input type="text" name="telcon" id="telcon" class="form-control" value="<%- datos.fraude.TELCON %>" />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label">Movil</label>
                            <input type="text" name="movcon" id="movcon" class="form-control" value="<%- datos.fraude.MOVCON %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <small></small>
                        <div class="mb-1">
                          <label class="form-label">Observaciones</label>
                            <textarea type="text" name="obsfra" id="obsfra" class="form-control" rows="3" style="resize: vertical"><%- datos.fraude.OBSFRA %></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <h4>
                        <small id="tipayu" class="form-hint"></small>
                      </h4>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/fraudes" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar fraude</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
    const nifcon = document.getElementById('nifcon')
    const nomcon = document.getElementById('nomcon')
    const ejefra = document.getElementById('ejefra')
    const fecfra = document.getElementById('fecfra')
    
    const validate = () => {
      const nifconValue = nifcon.value.trim()
      const nomconValue = nomcon.value.trim()
      const ejefraValue = ejefra.value.trim()
      const fecfraValue = fecfra.value.trim()

      if (nifconValue === '') {
        setError(nifcon, 'NIF/NIE requerido')
        setTimeout(function () {
          setSuccess(nifcon)
        }, 3000)
        return false
      } else {º
        setSuccess(nifcon)
      }
      if (nomconValue === '') {
        setError(nomcon, 'Nombre requerido')
        setTimeout(function () {
          setSuccess(nomcon)
        }, 3000)
        return false
      } else {
        setSuccess(nomcon)
      }
      if (ejefraValue === '') {
        setError(ejefra, 'Ejercicio requerido')
        setTimeout(function () {
          setSuccess(ejefra)
        }, 3000)
        return false
      } else {
        const pattern = /^([0-9]{4})$/
        const isValid = pattern.test(ejefraValue)

        if(isValid === false) {
          setError(ejefra, 'Introduzca ejercicio válido')
          setTimeout(function () {
            setSuccess(ejefra)
          }, 3000)
          return false
        }
        setSuccess(ejefra)        
      }
      if (isNaN(Date.parse(fecfraValue))) {
        setError(fecfra, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(fecfra)
        }, 3000)
        return false
      } else {
        setSuccess(fecfra)        
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      inputControl.classList.remove('is-valid');
      element.classList.add('is-invalid');
    }
  </script>
  <script>
    const Tipos = () => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const tipos = JSON.parse(xhr.response)
          const cbo = document.getElementById('cbotip')

          tipos.map((itm) => {
            const option = document.createElement('option')
            option.value = itm.IDTIPO
            option.text = itm.DESTIP
            if (itm.IDTIPO === <%- datos.fraude.TIPFRA %>) {
              option.selected = true
            }
            cbo.appendChild(option)
          })
        }
      };
      xhr.open('POST', 'http://localhost:8100/api/tipos/fraudes', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send()
    }
    Tipos();
  </script>
  <script>
    const Oficinas = () => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const oficinas = JSON.parse(xhr.response)

          const cbo = document.getElementById('cboofi')

          oficinas.map((itm) => {
            const option = document.createElement('option')
            option.value = itm.IDOFIC
            option.text = itm.DESOFI
            if (itm.IDOFIC === <%- datos.fraude.OFIFRA %>) {
              option.selected = true
            }
            cbo.appendChild(option)
          })
        }
      };
      xhr.open('POST', 'http://localhost:8100/api/oficinas', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send()
    }
    Oficinas();
  </script>
</body>
</html>