<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Fraudes</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    .sortable th {
      cursor: pointer;
    }
    .sortable .th-sort-asc::after {
      content: "\25b4";
    }
    .sortable .th-sort-desc::after {
      content: "\25be";
    }
    .sortable .th-sort-asc::after,
    .sortable .th-sort-desc::after {
      margin-left: 5px;
    }
    .dots-menu>.nav-item>.nav-info {
        border-radius: 14px;
        color: #777;
        display: block;
        line-height: 1.2;
        position: relative;
        text-decoration: none;
        transition: background-color .3s;
    }
    .dots-menu>.nav-avatar {
        display: block;
        float: right;
        margin: 0;
        position: relative;
    }

    .pagination {
      float: right;
    }
  </style>  
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FRAUDES'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Fraudes</h3>
                  <div class="col-auto ms-auto">
                    <div class="d-flex">
                      <div class="input-icon me-3">
                        <span class="input-icon-addon"><i class="bi bi-search"></i></span>
                        <input type="text" class="form-control d-inline-block me-3" id="buscarFraudeBox" onkeyup="arrayFilter();" placeholder="Buscar..." aria-label="Buscar en fraudes">
                      </div>
                      <a href="#" class="btn btn-warning" onclick="checkItem(this)">
                        <% if (datos.verTodo ) { %>
                          <i class='bi bi-eye-slash dropdown-item-icon'></i>Pendientes
                        <% } else { %>
                          <i class='bi bi-eye dropdown-item-icon'></i>Resueltos
                        <% } %>
                      </a>                      
                      <a href="/admin/fraudes/add" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <line x1="12" y1="5" x2="12" y2="19"></line>
                          <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Nuevo
                      </a>
                    </div>
                  </div>                    
                </div>
                <div class="card-body">
                  <table class="table table-vcenter table-striped sortable" id="tblFraudes">
                    <thead>
                    <tr class="header">
                      <th class="w-4"></th>
                      <th class="w-8">Oficina</th>
                      <th class="w-6">Fecha</th>
                      <th class="w-5">Ejerc</th>
                      <th class="w-8">NIF</th>
                      <th>Nombre</th>
                      <th>Tipo</th>
                      <th>Observaciones</th>
                      <th class="w-5"></th>
                    </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                  </table>
                  <div id="pagination-wrapper" class="pagination py-1"></div>
                </div>
              </div>                
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <div class="modal modal-blur fade" id="modal-borrar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-danger"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
          </svg>
          <h3>¿Desea borrar este documento?</h3>
          <div id="delfor"></div>
          <div class="text-muted">Lo que vas a hacer no puede ser recuperado.</div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="/admin/fraudes" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
              </div>
              <div class="col">
                <form action="/admin/fraudes/delete" method="POST">
                  <input type="hidden" id="idfrau" name="idfrau" value="">
                  <button type="submit" class="btn btn-danger w-100" id="btnUpdate">Borrar fraude</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-asignar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-primary"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
          </svg>
          <h3>Asignar fraude</h3>
          <div id="texasi"></div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="/admin/fraudes" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
              </div>
              <div class="col">
                <form action="/admin/fraudes/asignar" method="POST">
                  <input type="hidden" id="asign" name="idfrau" value="">
                  <button type="submit" class="btn btn-primary w-100">Asignar fraude</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-resolver" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-success"></div>
        <form action="/admin/fraudes/resolver" method="POST">
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <path d="M9 12l2 2l4 -4"></path>
            </svg> 
            <h3>Resolver fraude</h3>
            <div id="texres"></div>
              <div id="cierre" >
                cierre
              </div>
              <div class="card-header">
                SMS
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-4">
                    <div class="mb-1">
                      <label class="form-label text-start">Móvil</label>
                      <input type="text" name="movsms" id="resol" class="form-control" value="" readonly/>
                    </div>
                  </div>
                  <div class="col-8">
                    <div class="mb-1">
                      <label class="form-label text-start">Texto sms</label>
                      <textarea autofocus name="texsms" id="texsms" class="form-control" value="" maxlength="140" rows="3" style="resize: vertical" ></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 text-start">
                    <label class="form-check form-check-inline">
                      <input type="checkbox" class="form-check-input" name="chkenv" id="chkenv" />
                      <span class="form-check-label">Enviar</span>
                    </label>
                  </div>
                </div>
              </div>

          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/fraudes" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <input type="hidden" id="resdoc" name="idfrau" value="">
                  <button type="submit" class="btn btn-success w-100">Resolver fraude</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-desasignar" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-danger"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
          </svg>
          <h3>Desasignar fraude</h3>
          <div id="texdes"></div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="/admin/fraudes" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
              </div>
              <div class="col">
                <form action="/admin/fraudes/desasignar" method="POST">
                  <input type="hidden" id="desasig" name="idfrau" value="">
                  <button type="submit" class="btn btn-danger w-100">Desasignar fraude</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-deshacer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-danger"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
          </svg>
          <h3>Deshacer cierre</h3>
          <div id="texcie"></div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="/admin/fraudes" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
              </div>
              <div class="col">
                <form action="/admin/fraudes/deshacer" method="POST">
                  <input type="hidden" id="deshacer" name="idfrau" value="">
                  <button type="submit" class="btn btn-danger w-100">Deshacer cierre</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="modal modal-blur fade" id="modal-sms" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0">Envío SMS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/admin/fraudes/sms" method="POST" onsubmit="return validateSms();">
          <input type="hidden" name="idfrau" id="idsmss">
          <div class="modal-body">
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <div class="mb-1">
                    <label class="form-label">Movil</label>
                    <input type="text" name="movsms" id="movfra" class="form-control" value="" readonly/>
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="mb-1">
                    <label class="form-label">Nombre</label>
                    <input type="text" name="nomcon" id="nomsms" class="form-control" value="" readonly/>
                    <div class="invalid-feedback"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="mb-1">
                    <div class="input-control">
                      <label class="form-label required">Texto</label>
                      <textarea name="texsms" id="modsms" class="form-control" value="" maxlength="140" rows="5" style="resize: vertical"></textarea>
                      <div class="invalid-feedback"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
            <button type="submit" class="btn btn-primary ms-auto">Enviar SMS</button>              
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    function checkItem(elem) {
      <% if (datos.verTodo) { %>
        window.location.href = 'http://localhost:4200/admin/fraudes'
      <% } else { %>
        window.location.href = 'http://localhost:4200/admin/fraudes/vertodo'
      <% } %>
    }
  </script>
  <script>
    function focoRes() {
      const ele = document.getElementById('texsms')

      ele.focus()
    }
    function focoSMS() {
      const ele = document.getElementById('modsms')

      ele.focus()
    }
  </script>
  <script>
    const getCookie = (key) => {
      let value = ''
      document.cookie.split(';').forEach((e)=>{
        if(e.includes(key)) {
          value = e.split('=')[1]
        }
      })
      return value
    }
    const setCookie = (name,value,days) => {
      let expires = "";
      if (days) {
          let date = new Date();
          date.setTime(date.getTime() + (days*24*60*60*1000));
          expires = "; expires=" + date.toUTCString();
      }
      // document.cookie = name + "=" + (encodeURIComponent(value) || "")  + expires + "; path=/";
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    const deleteCookie = () => {
      document.cookie = 'filtro=; expires=Thu, 01 Jan 1970 00:00:01 GMT; Path=/;'
    }
  </script>
  <script>
    const elemBuscar = document.getElementById('buscarFraudeBox');
    elemBuscar.onchange = (event) => {
      setCookie('filtro', event.target.value, .5) // medio dia
    }

    function arrayFilter() {
      const filtro = elemBuscar.value.toUpperCase()
      const trimmedData = orgList.filter(itm => Object.keys(itm).some(k => JSON.stringify(itm[k]).includes(filtro)))

      state.querySet= trimmedData
      state.page = 1

      buildTable()
    }
  </script>
  <script>
    function sortTableByColumn(table, column, asc = true) {
      const dirModifier = asc ? 1 : -1;
      const tBody = table.tBodies[0];
      const rows = Array.from(tBody.querySelectorAll("tr"));

      const sortedRows = rows.sort((a, b) => {
        const aColText = a.cells[column].textContent;
        const bColText = b.cells[column].textContent;

        return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
      });

      for(let row of sortedRows) {
        tBody.appendChild( row );
      }

      table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
      table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
    }

    document.querySelectorAll(".sortable th").forEach(headerCell => {
      headerCell.addEventListener("click", () => {
        const tableElement = headerCell.parentElement.parentElement.parentElement;
        const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
        const currentIsAscending = headerCell.classList.contains("th-sort-asc");
        
        sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
      });
    });
  </script>  
  <script>
    const modsms = document.getElementById('modsms')
    const movsms = document.getElementById('movfra')
    const nomsms = document.getElementById('nomsms')

    const validateSms = () => {
      const modsmsValue = modsms.value.trim()
      const movsmsValue = movsms.value.trim()
      const nomsmsValue = nomsms.value.trim()

      if (movsmsValue === '') {
        setError(movsms, 'Movil requerido')
        setTimeout(function () {
          setSuccess(movsms)
        }, 3000)        
        return false
      } else {
        setSuccess(movsms)
      }
      if (nomsmsValue === '') {
        setError(nomsms, 'Nombre requerido')
        setTimeout(function () {
          setSuccess(nomsms)
        }, 3000)        
        return false
      } else {
        setSuccess(modsms)
      }
      if (modsmsValue === '') {
        setError(modsms, 'Texto requerido')
        setTimeout(function () {
          setSuccess(modsms)
        }, 3000)        
        return false
      } else {
        setSuccess(modsms)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  <script>
    const orgList = <%- datos.fraudes %>
    let state = {
      'querySet': orgList,
      'page': 1,
      'rows': 8,
      'window': 3 ,
    }

    elemBuscar.value = getCookie('filtro')
    if (elemBuscar.value !== '') {
      arrayFilter()
    } else {
      buildTable()
    }
    
    function pagination(querySet, page, rows) {
      const trimStart = (page - 1) * rows
      const trimEnd = trimStart + rows
      const trimmedData = querySet.slice(trimStart, trimEnd)
      const pages = Math.ceil(querySet.length / rows);

      return {
        'querySet': trimmedData,
        'pages': pages,
      }
    }
    function pageButtons(pages) {
      let wrapper = document.getElementById('pagination-wrapper')
      let maxLeft = (state.page - Math.floor(state.window / 2))
      let maxRight = (state.page + Math.floor(state.window / 2))
      
      wrapper.innerHTML = ``
      if (maxLeft < 1) {
        maxLeft = 1
        maxRight = state.window
      }

      if (maxRight > pages) {
        maxLeft = pages - (state.window - 1)
        
        if (maxLeft < 1){
          maxLeft = 1
        }
        maxRight = pages
      }

      for (let page = maxLeft; page <= maxRight; page++) {
          wrapper.innerHTML += `<button value=${page} class="page-item btn btn-primary">${page}</button>`
      } 
      wrapper.innerHTML = `<button value=${1} class="page-item btn btn-primary">&#171; Primero</button>` + wrapper.innerHTML
      wrapper.innerHTML += `<button value=${pages} class="page-item btn btn-primary">Último &#187;</button>`

      const elem = document.getElementsByClassName('page-item')
      for (let i = 0; i < elem.length; i++) {
        elem[i].addEventListener('click', (e) => {
          state.page = Number(e.target.value)

          buildTable()
        })
      }
    }
    function buildTable() {
        const table = document.getElementById('table-body')
        const data = pagination(state.querySet, state.page, state.rows)
        const myList = data.querySet
        table.innerHTML = ''

        myList.map(element => {
          // col1
          const row = document.createElement('tr')
          let cell = document.createElement('td')
          cell.classList.add("w-4")
          if (element.STAFRA === <%- datos.estadosFraude.pendiente %>) {
            cell.innerHTML = `<div class="align-items-center py-1">
              <span class="avatar avatar-rounded bg-red-lt">
                <h6>${element.LIQFRA}</h6>
              </span>
            </div>`
          } else if (element.STAFRA === <%- datos.estadosFraude.asignado %>) {
            if (element.NUMHIT === 0 && element.NUMEVE === 0) {
              cell.innerHTML = `<div class="align-items-center py-1">
                <span class="avatar avatar-rounded bg-blue-lt">
                  <h6>${element.LIQFRA}</h6>
                </span>
              </div>`
            } else {
            cell.innerHTML = `<ul class="dots-menu">
                <li class="nav-item drop-left p-0">
                  <div class="align-items-center py-1">
                    <span class="avatar avatar-rounded bg-yellow-lt">
                      <h6>${element.LIQFRA}</h6>
                    </span>
                  </div>
                  <a href="#" class="nav-info">
                  </a>
                  <ul class='ms-4'>
                    <li>
                      <h4 class='m-0'>Propuesta liquidación: ${element.PROLIQ === 0 ? 'No':'Sí'}</h4>
                    </li>
                    <li>
                      <h4 class='m-0'>Liquidación: ${element.LIQUID === 0 ? 'No':'Sí'}</h4>
                    </li>
                    <li>
                      <h4 class='m-0'>Propuesta sanción: ${element.PROSAN === 0 ? 'No':'Sí'}</h4>
                    </li>
                    <li>
                      <h4 class='m-0'>Sanción: ${element.SANCIO === 0 ? 'No':'Sí'}</h4>
                    </li>
                    <li>
                      <h4 class='m-0'>Nº de eventos: ${element.NUMEVE}</h4>
                    </li>
                  </ul>
                </li>
              </ul>`
            }
          } else if (element.STAFRA === <%- datos.estadosFraude.resuelto %>) {
            cell.innerHTML = `<div class="align-items-center py-1">
              <span class="avatar avatar-rounded bg-green-lt">
                <h6>${element.LIQFRA}</h6>
              </span>
            </div>`
          } else {
            cell.innerHTML = `<div class="align-items-center py-1">
              <span class="avatar avatar-rounded bg-orange-lt">
                <h6>${element.LIQFRA}</h6>
              </span>
            </div>`
          }
          row.appendChild(cell)

          // col2
          cell = document.createElement('td')
          cell.classList.add("w-8")
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.DESOFI}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col3
          cell = document.createElement('td')
          cell.classList.add("w-6")
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.STRFEC}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col4
          cell = document.createElement('td')
          cell.classList.add("w-5")
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.EJEFRA}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col5
          cell = document.createElement('td')
          cell.classList.add("w-8")
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.NIFCON}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col6
          cell = document.createElement('td')
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.NOMCON}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col7
          cell = document.createElement('td')
          cell.innerHTML = `<div class="d-flex py-1 align-items-center">
            <div class="flex-fill">
              <div class="font-weight-medium">${element.DESTIP}</div>
            </div>
          </div>`
          row.appendChild(cell)

          // col8
          cell = document.createElement('td')
          if (element.OBSFRA !== null) {
            cell.innerHTML = `<div class="d-flex py-1 align-items-center">
              <div class="flex-fill">
                <div class="font-weight-medium">${element.OBSFRA.length > 30 ? element.OBSFRA.slice(0,30) + '...': element.OBSFRA}</div>
              </div>
            </div>`
          }                                
          row.appendChild(cell)

          // col9
          cell = document.createElement('td')
          cell.classList.add("w-5")
          if (element.STAFRA === <%- datos.estadosFraude.pendiente %>) {
            cell.innerHTML = `<ul class="dots-menu">
              <li class="nav-item drop-right">
                <a href="#" class="nav-link">
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul>
                  <li class="nav-item">
                    <a href="/admin/fraudes/edit/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-pencil dropdown-item-icon"></i>Editar fraude
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" onclick="{document.getElementById('idfrau').value ='${element.IDFRAU}', document.getElementById('delfor').innerHTML ='<p>${element.REFFRA}</p><p>${element.NIFCON}</p><p>${element.NOMCON}</p>'}" data-bs-toggle="modal" data-bs-target="#modal-borrar">
                      <i class="bi bi-trash dropdown-item-icon"></i>Borrar fraude
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" onclick="{document.getElementById('asign').value ='${element.IDFRAU}', document.getElementById('texasi').innerHTML ='<p>${element.REFFRA}</p><p>${element.NIFCON}</p><p>${element.NOMCON}</p>'}" data-bs-toggle="modal" data-bs-target="#modal-asignar">
                      <i class="bi bi-heart dropdown-item-icon"></i>Asignar fraude
                    </a>
                  </li>
                </ul>
              </li>                              
            </ul>`
          } else if (element.STAFRA === <%- datos.estadosFraude.resuelto %>) {
            cell.innerHTML = `<ul class="dots-menu">
              <li class="nav-item drop-right">
                <a href="#" class="nav-link">
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul>
                  <li class="nav-item ">
                    <a href="/admin/fraudes/hitoseventos/readonly/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-flag dropdown-item-icon"></i>Hitos / Eventos
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" onclick="{document.getElementById('deshacer').value ='${element.IDFRAU}', document.getElementById('texcie').innerHTML ='<p>${element.REFFRA}</p><p>${element.NIFCON}</p><p>${element.NOMCON}</p>'}" data-bs-toggle="modal" data-bs-target="#modal-deshacer">
                      <i class="bi bi-x-square dropdown-item-icon"></i>Deshacer cierre
                    </a>
                  </li>
                  <li class="nav-item list-divider"></li>
                  <li class="nav-item ">
                    <a href="#" class="nav-link" onclick="{document.getElementById('movfra').value ='${element.MOVCON}', document.getElementById('nomsms').value ='${element.NOMCON}', document.getElementById('idsmss').value ='${element.IDFRAU}', setTimeout(focoSMS,500)}" data-bs-toggle="modal" data-bs-target="#modal-sms">
                      <i class="bi bi-chat dropdown-item-icon"></i>Enviar SMS
                    </a>
                  </li>
                </ul>
              </li>                              
            </ul>`
          } else {
            if(element.LIQFRA === '<%- user.userID %>' || <%- user.rol %> === <%- datos.tiposRol.admin %>) {
              cell.innerHTML = `<ul class="dots-menu">
              <li class="nav-item drop-right">
                <a href="#" class="nav-link">
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul>
                  <li class="nav-item">
                    <a href="/admin/fraudes/edit/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-pencil dropdown-item-icon"></i>Editar fraude
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/fraudes/resolver/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-check2 dropdown-item-icon"></i>Resolver fraude
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link" onclick="{document.getElementById('desasig').value ='${element.IDFRAU}', document.getElementById('texdes').innerHTML ='<p>${element.REFFRA}</p><p>${element.NIFCON}</p><p>${element.NOMCON}</p>'}" data-bs-toggle="modal" data-bs-target="#modal-desasignar">
                      <i class="bi bi-x-square dropdown-item-icon"></i>Desasignar fraude
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/fraudes/ejercicio/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-calendar dropdown-item-icon"></i>Nuevo ejercicio
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/admin/fraudes/relacionado/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-people dropdown-item-icon"></i>Nuevo relacionado
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a href="/admin/fraudes/hitoseventos/${element.IDFRAU}" class="nav-link">
                      <i class="bi bi-flag dropdown-item-icon"></i>Hitos / Eventos
                    </a>
                  </li>
                  <li class="nav-item list-divider"></li>
                  <li class="nav-item ">
                    <a href="#" class="nav-link" onclick="{document.getElementById('movfra').value ='${element.MOVCON}', document.getElementById('nomsms').value ='${element.NOMCON}', document.getElementById('idsmss').value ='${element.IDFRAU}', setTimeout(focoSMS,500)}" data-bs-toggle="modal" data-bs-target="#modal-sms">
                      <i class="bi bi-chat dropdown-item-icon"></i>Enviar SMS
                    </a>
                  </li>
                </ul>
              </li>
            </ul>`
            } else {
              cell.innerHTML = ``
            }
          }
          row.appendChild(cell)

          table.appendChild(row)
        })

        pageButtons(data.pages)
    }
  </script>
</body>
</html>