<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Ejercicio Fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'FRAUDES'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined' ) { %>
                  <% alerts.map(function (alert) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>
                <form id="form" action="/admin/fraudes/relacionado" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idfrau" id="idfrau" value="<%- datos.fraude.IDFRAU %>">
                  <input type="hidden" name="tipfra" id="tipfra" value="<%- datos.fraude.TIPFRA %>">
                  <input type="hidden" name="reffra" id="reffra" value="<%- datos.fraude.REFFRA %>">
                  <div class="card-header">
                    <h3 class="card-title">Nuevo relacionado</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">NIF/NIE</label>
                            <input type="text" name="nifcon" id="nifcon" class="form-control" style="text-transform: uppercase;" value="<%- datos.fraude.NIFCON %>" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Nombre</label>
                            <input type="text" name="nomcon" id="nomcon" class="form-control" style="text-transform: uppercase;" value="<%- datos.fraude.NOMCON %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="mb-1">
                          <label class="form-label">Correo electrónico</label>
                          <input type="text" name="emacon" id="emacon" class="form-control" value="<%- datos.fraude.EMACON %>" />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Ejercicio</label>
                            <input type="number" name="ejefra" id="ejefra" class="form-control" value="<%- datos.fraude.EJEFRA %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Teléfono</label>
                          <input type="text" name="telcon" id="telcon" class="form-control" value="<%- datos.fraude.TELCON %>" />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Movil</label>
                          <input type="text" name="movcon" id="movcon" class="form-control" value="<%- datos.fraude.MOVCON %>" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label">Observaciones</label>
                            <textarea type="text" name="obsfra" id="obsfra" class="form-control" rows="3" style="resize: vertical"><%- datos.fraude.OBSFRA %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/fraudes" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnInsert">Crear relacionado</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script>
    const nifcon = document.getElementById('nifcon')
    const nomcon = document.getElementById('nomcon')
    const ejefra = document.getElementById('ejefra')
    const obsfra = document.getElementById('obsfra')

    const validate = () => {
      const nifconValue = nifcon.value.trim().toUpperCase().slice(0,9)
      const nomconValue = nomcon.value.trim()
      const ejefraValue = ejefra.value.trim()
      const obsdocValue = obsfra.value.trim()

      if (nifconValue === '') {
        setError(nifcon, 'NIF/NIE requerido')
        setTimeout(function () {
          setSuccess(nifcon)
        }, 3000)
        return false
      } else {
        const pattern = /^([X-Y][0-9]{7}[A-Z]{1})|([0-9]{8}[A-Z]{1})$/

        if (!pattern.test(nifconValue)){
          setError(nifcon, 'Introduzca NIF/NIE válido')
          setTimeout(function () {
            setSuccess(nifcon)
          }, 3000)
          return false
        }

        const strBase = "TRWAGMYFPDXBNJZSQVHLCKET";
        const primeraPosicion = nifconValue.slice(0, 1);
        const letraNif = nifconValue.slice(8);
        let nuevoNif = nifconValue;

        if (isNaN(primeraPosicion)) {
          nuevoNif = nifconValue.slice(1);
          if (primeraPosicion === 'X') {
            nuevoNif = '0' + nuevoNif;
          } else if (primeraPosicion === "Y") {
            nuevoNif = "1" + nuevoNif;
          } else if (primeraPosicion === "Z") {
            nuevoNif = "2" + nuevoNif;
          }
        }

        const dniNumero = nuevoNif.slice(0, 8);
        const pos = parseInt(dniNumero) % 23;
        const letra = strBase.slice(pos, pos + 1);
        const isValid = letraNif === letra

        if(isValid === false) {
          setError(nifcon, 'Introduzca NIF/NIE válido')
          setTimeout(function () {
            setSuccess(nifcon)
          }, 3000)
          return false
        }
        setSuccess(nifcon)
      }
      if (nomconValue === '') {
        setError(nomcon, 'Nombre requerido')
        setTimeout(function () {
          setSuccess(nomcon)
        }, 3000)
        return false
      } else {
        setSuccess(nomcon)
      }
      if (ejefraValue === '') {
        setError(ejefra, 'Ejercicio requerido')
        setTimeout(function () {
          setSuccess(ejefra)
        }, 3000)
        return false
      } else {
        const pattern = /^([0-9]{4})$/
        const isValid = pattern.test(ejefraValue)

        if(isValid === false) {
          setError(ejefra, 'Introduzca ejercicio válido')
          setTimeout(function () {
            setSuccess(ejefra)
          }, 3000)
          return false
        }
        setSuccess(ejefra)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  <script>
    const Tipos = () => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const tipos = JSON.parse(xhr.response)
          const cbo = document.getElementById('cbotip')

          tipos.map((itm) => {
            const option = document.createElement('option')
            option.value = itm.IDTIPO
            option.text = itm.DESTIP
            if (itm.IDTIPO === <%- datos.fraude.TIPFRA %>) {
              option.selected = true
            }
            cbo.appendChild(option)
          })
        }
      };
      xhr.open('POST', 'http://localhost:8200/api/tipos/fraudes', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send()
    }
    Tipos();
  </script>
</body>
</html>