<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Resolver fraude</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navbar', {opcion: 'INICIO'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined' ) { %>
                  <% alerts.map(function (alert) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>
                <form action="/admin/fraudes/resolver" method="POST">
                  <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">
                  <div class="card-header">
                    <h3 class="card-title">Fraude</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">NIF/NIE</label>
                          <input type="text" class="form-control" value="<%- datos.fraude.NIFCON %>" readonly/>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <label class="form-label">Nombre</label>
                          <input type="text" class="form-control" value="<%- datos.fraude.NOMCON %>" readonly/>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Referencia</label>
                          <input type="text" class="form-control" value="<%- datos.fraude.REFFRA %>" readonly/>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-1">
                          <label class="form-label">Tipo</label>
                          <input type="text" class="form-control" value="<%- datos.fraude.DESTIP %>" readonly/>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="mb-1">
                          <label class="form-label">Ejercicio</label>
                          <input type="number" class="form-control" value="<%- datos.fraude.EJEFRA %>" readonly/>
                        </div>
                      </div>
                    </div>
                    <% if(!datos.hayLiquidacion) { %>                    
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="form-label">Causa cierre</div>
                          <select class="form-select" id="cbotip" name="sitfra">
                            <% datos.subtipos.map(element => { %> 
                              <option value="<%- element.IDSUBT %>"><%- element.DESSUB %></option>
                            <% }) %> 
                          </select>
                        </div>
                      </div>
                    </div>
                    <% } else { %> 
                      <div class="row">
                        <input type="hidden" id="sitfra" name="sitfra" value="0">
                      </div>
                    <% } %> 
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/fraudes" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnInsert">Resolver fraude</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
</body>
</html>