<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Estados</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="page-wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ESTADO' }) %>
    <div class="page page-center">
      <div class="container container-lg mt-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <form action="/user/estados/estados" method="POST" onsubmit="return validate();">
                <input type="hidden" id="desofi" name="desofi">
                <input type="hidden" id="desper" name="desper">
                <input type="hidden" id="desde" name="desde" value="<%- datos.desde %>">
                <input type="hidden" id="hasta" name="hasta" value="<%- datos.hasta %>">
                <div class="card-header">
                  <h3 class="card-title">Estados</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="form-label">Oficina</div>
                        <select class="form-select" id="cboofi" name="ofiest" value="">
                          <% if (datos.oficinas.length > 1) { %>
                          <option value="0">DESCENTRALIZADAS</option>
                          <% } %>
                          <% datos.oficinas.map(element=> { %>
                          <option value="<%- element.IDOFIC %>">
                            <%- element.DESOFI %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="form-label">Perfil</div>
                        <select class="form-select" id="cboper" name="perusu" value="">
                          <% datos.arrTiposPerfil.map(element=> { %>
                          <option value="<%- element.id %>"<%- element.des === "INFORMADOR" ? " selected":"" %>>
                            <%- element.des %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="input-control">
                          <label class="form-label required">Fecha inicio</label>
                          <input type="date" name="desfec" id="desfec" class="form-control" />
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="form-label">Formato</div>
                        <select class="form-select" id="cbofor" name="format" value="">
                          <option value="1">MENSUAL</option>
                          <option value="2">SEMANAL</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <div class="d-flex">
                    <button type="submit" class="btn btn-primary ms-auto">Ver estados</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script src="/js/indexEstados.min.js"></script>
</body>

</html>