<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Estadística</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- apexcharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
      .subheader {
        font-size: .625rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .04em;
        line-height: 1.6;
        color: #626976;
      }
      .h1 {
        font-size: 1.5rem;
      }
      .progress-container {
        display: flex;
        height: 0.7rem;
        width: 100%;
        border-radius: 0.4rem;
        background: #f2f3f4;
        text-align: center;
        color: #fff;
      }
      /* .progress-container .progress {
        height: 100%;
        width: 0;
        border-radius: 0.4rem;
        background: #225ddd;
        transition: width 0.4s ease;
      } */
      .chart {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
      .percent {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .err {
          width: 50%;
          height: 100%;
          float: left;
      }
      .dec {
          width: 25%;
          height: 100%;
          float: left;
      }
      .otr {
          width: 10%;
          height: 100%;
          float: left;
      }
      .legend {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 4px;
      }
      .progress-separated {
        border-right: 2px solid #fff;
      }
    </style>
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../../partials/header') %>
      <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Correctas</div>
                    </div>
                    <div class="h1 mb-3"><%- datos.situacion.CORREC %></div>
                    <div class="d-flex">
                      <div class="subheader">Causas</div>
                      <div class="ms-auto">
                        <div class="col-auto mb-1">
                          <span class="legend bg-azure"></span>
                          <span>Cruce</span>
                          <span class="legend bg-purple"></span>
                          <span>Decla</span>
                          <span class="legend bg-teal"></span>
                          <span>Atrib</span>
                        </div>
                      </div>
                    </div>
                      <div class="progress-container">
                        <div class="err bg-azure progress-separated">
                          <h6 class="m-0"><%- datos.situacion.ACUERR %></h6>
                        </div>
                        <div class="dec bg-purple progress-separated">
                          <h6 class="m-0"><%- datos.situacion.ACUDEC %></h6>
                        </div>
                        <div class="otr bg-teal">
                          <h6 class="m-0"><%- datos.situacion.ACUOTR %></h6>
                        </div>
                      </div>
                  </div>                  
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Liquidaciones</div>
                      <div class="subheader ms-auto">Importe</div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="h1"><%- Intl.NumberFormat('de-DE').format(datos.hitos.LIQUID) %></div>
                      <div class="h1 ms-auto"><%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPLIQ) %></div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="subheader mt-3">Propuestas</div>
                    </div>
                    <div class="h2"><%- Intl.NumberFormat('de-DE').format(datos.hitos.PROLIQ) %></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Sanciones</div>
                      <div class="subheader ms-auto">Importe</div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="h1"><%- Intl.NumberFormat('de-DE').format(datos.hitos.SANCIO) %></div>
                      <div class="h1 ms-auto"><%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPSAN) %></div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="subheader mt-3">
                        Propuestas
                        <span class="text-red">(anuladas)</span>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="h2">
                        <%- datos.hitos.PROSAN %>
                        <span class="text-red">(<%- Intl.NumberFormat('de-DE').format(datos.hitos.ANUSAN) %>)</span>
                      </div>
                      <div class="ms-auto">
                        <span class="text-red">(<%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPANU) %>)</span>
                        <%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPPSA) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Acumulados</h3>
                  </div>                  
                  <div class="card-body">
                    <div id="chart-actuac"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="row row-cards">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Oficinas</h3>
                      </div>
                      <div class="card-body">
                        <table class="table table-vcenter table-striped sortable" id="tblFraudes">
                          <thead>
                          <tr class="header">
                            <th>Oficina</th>
                            <th class="w-5">Pend</th>
                            <th class="w-5">Adju</th>
                            <th class="w-5">Resu</th>
                            <th class="w-6">Total</th>
                          </tr>
                          </thead>
                          <tbody id="table-body">
                            <% datos.oficinas.map(element => { %>
                              <tr>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <% if (element.DESOFI === null) { %>
                                        <div class="font-weight-medium">TOTAL</div>
                                      <% } else { %> 
                                        <div class="font-weight-medium"><%- element.DESOFI %></div>
                                      <% } %> 
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.PEN %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.ADJ %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.RES %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.TOT %></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="card" style="display: -webkit-box;">
                      <div class="col-4 mx-auto w-auto">
                        <div id="chart-correc" class="chart" data-percent="<%- datos.ratios.correctas %>">
                          <span class="percent"></span>
                          <span>Correcto</span>
                        </div>
                      </div>
                      <div class="col-4 mx-auto w-auto">
                        <div id="chart-liquid" class="chart" data-percent="<%- datos.ratios.liquidacion %>">
                          <span class="percent"></span>
                          <span>Liquida</span>
                        </div>
                      </div>
                      <div class="col-4 mx-auto w-auto">
                        <div id="chart-sancio" class="chart" data-percent="<%- datos.ratios.sancion %>">
                          <span class="percent"></span>
                          <span>Sanción</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <%- include('../../../partials/footer') %>
    </div>
  </body>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/easypiechart.min.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
      const changeProgress = (element, progress) => {
        element.style.width = `${progress}%`;
      };

      changeProgress(document.querySelector(".err"), <%- datos.situacion.ACUERR / datos.situacion.CORREC * 100 %>)
      changeProgress(document.querySelector(".dec"), <%- datos.situacion.ACUDEC / datos.situacion.CORREC * 100 %>)
      changeProgress(document.querySelector(".otr"), <%- datos.situacion.ACUOTR / datos.situacion.CORREC * 100 %>)
  </script>
  <script>
    const options1 = {
      colors : ['#4263eb', '#74b816', '#f76707'],
      chart: {
        type: 'bar',
        stacked: true,
        toolbar: {
          show: false,
        }
      },
      dataLabels: {
        enabled: false
      },
      series: [
        {
          name: 'Correcto',
          data: <%- datos.serieC %>
        },
        {
          name: 'Liquidaciones',
          data: <%- datos.serieL %>
        },
        {
          name: 'Sanciones',
          data: <%- datos.serieS %>
        }
      ],
      xaxis: {
        type: 'datetime',
      }
    }
    const chart1 = new ApexCharts(document.querySelector("#chart-actuac"), options1);
    chart1.render();   
  </script>
  <script>
    const element = document.querySelector('#chart-correc');
    const element1 = document.querySelector('#chart-liquid');
    const element2 = document.querySelector('#chart-sancio');

    new EasyPieChart(element, {
        easing: 'easeOutElastic',
        delay: 3000,
        barColor: '#4263eb',
        trackColor: '#f2f3f4',
        scaleColor: false,
        lineWidth: 3,
        trackWidth: 1,
        lineCap: 'butt',
        onStep: function(from, to, percent) {
          this.el.children[0].innerHTML = Math.round(percent);
        }
    });    
    new EasyPieChart(element1, {
        easing: 'easeOutElastic',
        delay: 3000,
        barColor: '#74b816',
        trackColor: '#f2f3f4',
        scaleColor: false,
        lineWidth: 3,
        trackWidth: 1,
        lineCap: 'butt',
        onStep: function(from, to, percent) {
          this.el.children[0].innerHTML = Math.round(percent);
        }
    });
    new EasyPieChart(element2, {
        easing: 'easeOutElastic',
        delay: 3000,
        barColor: '#f76707',
        trackColor: '#f2f3f4',
        scaleColor: false,
        lineWidth: 3,
        trackWidth: 1,
        lineCap: 'butt',
        onStep: function(from, to, percent) {
          this.el.children[0].innerHTML = Math.round(percent);
        }
    });
  </script>
</html>