<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Estadística</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- apexcharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/easy-pie-chart/2.1.6/easypiechart.min.js"></script>
    <script src="/js/easypiechart.min.js"></script>
    <style>
      .subheader {
        font-size: .625rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .04em;
        line-height: 1.6;
        color: #626976;
      }
      .h1 {
        font-size: 1.5rem;
      }
      .progress-container {
        display: flex;
        height: 1rem;
        width: 100%;
        border-radius: 0.4rem;
        background: #f2f3f4;
        text-align: center;
        color: #fff;
      }
      .chart {
        position: relative;
        display: inline-block;
        width: 110px;
        height: 110px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
      }
      .chart canvas {
        position: absolute;
        top: 0;
        left: 0;
      }
      .percent {
        display: inline-block;
        line-height: 110px;
        z-index: 2;
      }
      .percent:after {
        content: '%';
        margin-left: 0.1em;
        font-size: .8em;
      }
      .err {
        width: 10%;
        height: 100%;
        float: left;
      }
      .efe {
        width: 10%;
        height: 100%;
        float: left;
      }
      .tri {
        width: 10%;
        height: 100%;
        float: left;
      }
      .pre {
        width: 10%;
        height: 100%;
        float: left;
      }
      .otr {
        width: 10%;
        height: 100%;        
        float: left;
      }
      .legend {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 4px;
      }
      .progress-separated {
        border-right: 2px solid #fff;
      }
      .tooltip {
        position: relative;
        display: inline-block;
      }
      .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }
      .tooltiptext {
        visibility: hidden;
        width: 180px;
        color: black;
        text-align: center;
        border-radius: 6px;
        padding: 4px;
        position: absolute;
        z-index: 1;
        border:1px solid rgb(233, 233, 233);
        bottom: 100%;
        left: 50%;
        transform: translateX(-10%);
        margin-bottom: 0.5rem;
        margin-left: -2rem;
        background-color:white;
        opacity: 0;
        transition: opacity 1s;
      }      
    </style>
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../../partials/header') %>
      <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="d-flex">
              <span>Carga: <%- datos.fraude.reffra %></span>
              <span class="ms-3">Tipo: <%- datos.tipo.destip  %></span>
              <span class="ms-3">Periodo: <%- datos.periodo.desde %> al <%- datos.periodo.hasta %></span>               
              <a href="#" class="ms-auto" data-bs-toggle="modal" data-bs-target="#modal-config">
                <i class="bi bi-gear" style="font-size: 0.9rem; color: #626976;"></i>
              </a>
            </div>
            <div class="row row-deck row-cards">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Correctas</div>
                    </div>
                    <div class="h1 mb-3"><%- datos.situacion.CORREC %></div>
                    <div class="d-flex">
                      <div class="subheader">Causas</div>
                      <div class="ms-auto">
                        <div class="col-auto">
                          <span class="legend bg-azure"></span>
                          <div class="tooltip">CE
                            <span class="tooltiptext">Datos cruce erroneos</span>
                          </div>
                          <span class="legend bg-purple"></span>
                          <div class="tooltip">SE
                            <span class="tooltiptext">Sin efecto económico</span>
                          </div>
                          <span class="legend bg-pink"></span>
                          <div class="tooltip">TC
                            <span class="tooltiptext">Tributación correcta</span>
                          </div>
                          <span class="legend bg-orange"></span>
                          <div class="tooltip">PR
                            <span class="tooltiptext">Prescrito</span>
                          </div>
                          <span class="legend bg-teal"></span>
                          <div class="tooltip">OT
                            <span class="tooltiptext">Otros casos</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="progress-container">
                      <div class="err bg-azure progress-separated">
                      </div>
                      <div class="efe bg-purple progress-separated">
                      </div>
                      <div class="tri bg-pink progress-separated">
                      </div>
                      <div class="pre bg-orange progress-separated">
                      </div>
                      <div class="otr bg-teal">
                      </div>
                    </div>
                  </div>
                </div>                  
              </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Liquidaciones</div>
                    <div class="subheader ms-auto">Importe</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="h1 mb-3"><%- Intl.NumberFormat('de-DE').format(datos.hitos.LIQUID) %></div>
                    <div class="h1 ms-auto"><%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPLIQ) %></div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="subheader">Propuestas</div>
                  </div>
                  <div class="h2"><%- Intl.NumberFormat('de-DE').format(datos.hitos.PROLIQ) %></div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex align-items-center">
                    <div class="subheader">Sanciones</div>
                    <div class="subheader ms-auto">Importe</div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="h1 mb-3"><%- Intl.NumberFormat('de-DE').format(datos.hitos.SANCIO) %></div>
                    <div class="h1 ms-auto"><%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPSAN) %></div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="subheader">
                      Propuestas
                      <span class="text-red">(anuladas)</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <div class="h2">
                      <%- datos.hitos.PROSAN %>
                      <span class="text-red">(<%- Intl.NumberFormat('de-DE').format(datos.hitos.ANUSAN) %>)</span>
                    </div>
                    <div class="ms-auto">
                      <%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPPSA) %>
                      <span class="text-red">(<%- Intl.NumberFormat('de-DE').format(datos.hitos.IMPANU) %>)</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-1">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Acumulados</h3>
                </div>                  
                <div class="card-body">
                  <div id="chart-actuac"></div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 mt-1">
              <div class="row row-cards">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Oficinas</h3>
                    </div>
                    <div class="card-body">
                      <table class="table table-vcenter table-striped sortable" id="tblFraudes">
                        <thead>
                        <tr class="header">
                          <th>Oficina</th>
                          <th class="w-5">Pend</th>
                          <th class="w-5">Adju</th>
                          <th class="w-5">Resu</th>
                          <th class="w-6">Total</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                          <% datos.oficinas.map(element => { %>
                            <tr>
                              <td>
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <% if (element.DESOFI === null) { %>
                                      <div class="font-weight-medium">TOTAL</div>
                                    <% } else { %> 
                                      <div class="font-weight-medium"><%- element.DESOFI %></div>
                                    <% } %> 
                                  </div>
                                </div>
                              </td>
                              <td class="w-6">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium"><%- element.PEN %></div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium"><%- element.ADJ %></div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium"><%- element.RES %></div>
                                  </div>
                                </div>
                              </td>
                              <td class="w-6">
                                <div class="d-flex align-items-center">
                                  <div class="flex-fill">
                                    <div class="font-weight-medium"><%- element.TOT %></div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-1">
                  <div class="card" style="display: -webkit-box;">
                    <div class="col-4 mx-auto w-auto">
                      <div id="chart-correc" class="chart" data-percent="<%- datos.ratios.correctas %>">
                        <span class="percent"></span>
                        <span>Correcto</span>
                      </div>
                    </div>
                    <div class="col-4 mx-auto w-auto">
                      <div id="chart-liquid" class="chart" data-percent="<%- datos.ratios.liquidacion %>">
                        <span class="percent"></span>
                        <span>Liquida</span>
                      </div>
                    </div>
                    <div class="col-4 mx-auto w-auto">
                      <div id="chart-sancio" class="chart" data-percent="<%- datos.ratios.sancion %>">
                        <span class="percent"></span>
                        <span>Sanción</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../../partials/footer') %>
    </div>

    <div class="modal modal-blur fade" id="modal-config" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mt-0">Estadística de fraudes</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form action="/admin/estadisticas/fraudes" method="POST" onsubmit="return validate();" >
            <input type="hidden" id="destip" name="destip">
            <input type="hidden" id="refcar" name="refcar">
            <div class="modal-body">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-1">
                      <div class="form-label">Tipo</div>
                      <select class="form-select form-control" id="cbotip" name="tipfra" value="">
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="mb-1">
                      <div class="input-control">
                        <label class="form-label required">Desde</label>
                        <input type="date" name="desde" id="desde" class="form-control" value="<%- datos.periodo.desde %>" />
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-1">
                      <div class="input-control">
                        <label class="form-label required">Hasta</label>
                        <input type="date" name="hasta" id="hasta" class="form-control" value="<%- datos.periodo.hasta %>" />
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="mb-1">
                      <div class="input-control">
                        <label class="form-label">Carga</label>
                        <select class="form-select form-control" id="cbocar" name="idcarg" value="">
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
              <button type="submit" class="btn btn-primary ms-auto">Generar estadística</button>              
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/ayuda.min.js"></script>
    <script>
      const cboC = document.getElementById('cbocar');
      const cboT = document.getElementById('cbotip');

      cboC.addEventListener('change', (e) => {  
        document.getElementById('refcar').value = e.target.options[e.target.selectedIndex].getAttribute('data-foo')
      })
      cboT.addEventListener('change', (e) => {
        document.getElementById('destip').value = e.target.options[e.target.selectedIndex].text
      })    
    </script>    
    <script>
        const changeProgress = (element, texto, valor, progress) => {
          element.style.width = `${progress}%`;
          element.innerHTML = `<div class="tooltip" style="display: block;">${valor}
            <span class="tooltiptext">
              <p>${texto}</p>
              <p>Total: ${valor}</p>
              <p>Porcentaje: ${progress}%</p>
            </span>
          </div>`
        };

        changeProgress(document.querySelector(".err"), 'Datos cruce erroneos', <%- datos.situacion.ACUERR %>, Math.round(<%- datos.situacion.ACUERR / datos.situacion.CORREC * 100 %> * 100) / 100)
        changeProgress(document.querySelector(".efe"), 'Sin efectos económicos', <%- datos.situacion.ACUEFE %>, Math.round(<%- datos.situacion.ACUEFE / datos.situacion.CORREC * 100 %> * 100) / 100)
        changeProgress(document.querySelector(".tri"), 'Tributación correcta', <%- datos.situacion.ACUTRI %>, Math.round(<%- datos.situacion.ACUTRI / datos.situacion.CORREC * 100 %> * 100) / 100)
        changeProgress(document.querySelector(".pre"), 'Prescrito', <%- datos.situacion.ACUPRE %>, Math.round(<%- datos.situacion.ACUPRE / datos.situacion.CORREC * 100 %> * 100) / 100)
        changeProgress(document.querySelector(".otr"), 'Otros casos', <%- datos.situacion.ACUOTR %>, Math.round(<%- datos.situacion.ACUOTR / datos.situacion.CORREC * 100 %> * 100) / 100)
    </script>
    <script>
      const options = {
        colors : ['#4263eb', '#74b816', '#f76707'],
        chart: {
          locales: [{
            "name": "es",
            "options": {
              "months": [
                "Enero",
                "Febrero",
                "Marzo",
                "Abril",
                "Mayo",
                "Junio",
                "Julio",
                "Agosto",
                "Septiembre",
                "Octubre",
                "Noviembre",
                "Diciembre"
              ],
              "shortMonths": [
                "Ene",
                "Feb",
                "Mar",
                "Abr",
                "May",
                "Jun",
                "Jul",
                "Ago",
                "Sep",
                "Oct",
                "Nov",
                "Dic"
              ],
              "days": [
                "Domingo",
                "Lunes",
                "Martes",
                "Miércoles",
                "Jueves",
                "Viernes",
                "Sábado"
              ],
              "shortDays": ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
              "toolbar": {
                "exportToSVG": "Descargar SVG",
                "exportToPNG": "Descargar PNG",
                "exportToCSV": "Descargar CSV",
                "menu": "Menu",
                "selection": "Seleccionar",
                "selectionZoom": "Seleccionar Zoom",
                "zoomIn": "Aumentar",
                "zoomOut": "Disminuir",
                "pan": "Navegación",
                "reset": "Reiniciar Zoom"
              }
            }          
          }],
          defaultLocale: "es",
          type: 'bar',
          stacked: true,
          toolbar: {
            show: false,
          },
        },
        dataLabels: {
          enabled: false
        },
        series: [
          {
            name: 'Correcto',
            data: <%- datos.serieC %>
          },
          {
            name: 'Liquidaciones',
            data: <%- datos.serieL %>
          },
          {
            name: 'Sanciones',
            data: <%- datos.serieS %>
          }
        ],
        xaxis: {
          type: 'datetime',
        }
      }

      const chart = new ApexCharts(document.querySelector("#chart-actuac"), options);
      chart.render();   
    </script>
    <script>
      const element = document.querySelector('#chart-correc');
      const element1 = document.querySelector('#chart-liquid');
      const element2 = document.querySelector('#chart-sancio');

      const chartCorrecto = new EasyPieChart(element, {
          easing: 'easeOutElastic',
          delay: 3000,
          barColor: '#4263eb',
          trackColor: '#f2f3f4',
          scaleColor: false,
          lineWidth: 3,
          trackWidth: 1,
          lineCap: 'butt',
          onStep: function(from, to, percent) {
            this.el.children[0].innerHTML = Math.round(percent * 100) / 100;
          }
      });    
      const chartLiquid = new EasyPieChart(element1, {
          easing: 'easeOutElastic',
          delay: 3000,
          barColor: '#74b816',
          trackColor: '#f2f3f4',
          scaleColor: false,
          lineWidth: 3,
          trackWidth: 1,
          lineCap: 'butt',
          onStep: function(from, to, percent) {
            this.el.children[0].innerHTML = Math.round(percent * 100) / 100;
          }
      });
      const chartSancion = new EasyPieChart(element2, {
          easing: 'easeOutElastic',
          delay: 3000,
          barColor: '#f76707',
          trackColor: '#f2f3f4',
          scaleColor: false,
          lineWidth: 3,
          trackWidth: 1,
          lineCap: 'butt',
          onStep: function(from, to, percent) {
            this.el.children[0].innerHTML = Math.round(percent * 100) / 100;
          }
      });
    </script>
    <script>
      const desde = document.getElementById('desde')
      const hasta = document.getElementById('hasta')
      const fecha = document.getElementById('fecfra')

      const validate = () => {
        const desdeValue = desde.value
        const hastaValue = hasta.value
        const fechaValue = fecha.value

        if (isNaN(Date.parse(desdeValue))) {
          setError(desde, 'Fecha requerida')
          setTimeout(function () {
            setSuccess(desde)
          }, 3000)
          return false
        } else {
          setSuccess(desde)
        }
        if (isNaN(Date.parse(hastaValue))) {
          setError(hasta, 'Fecha requerida')
          setTimeout(function () {
            setSuccess(hasta)
          }, 3000)
          return false
        } else {
          setSuccess(hasta)
        }
        if (isNaN(Date.parse(fechaValue))) {
          setError(fecha, 'Fecha requerida')
          setTimeout(function () {
            setSuccess(fecha)
          }, 3000)
          return false
        } else {
          setSuccess(fecha)
        }

        return true
      }

      const setSuccess = (element) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.invalid-feedback');

        errorDisplay.innerText = '';
        inputControl.classList.add('is-valid');
        element.classList.remove('is-invalid');
      }
      const setError = (element, message) => {
        const inputControl = element.parentElement;
        const errorDisplay = inputControl.querySelector('.invalid-feedback');

        errorDisplay.innerText = message;
        element.classList.add('is-invalid');
        inputControl.classList.remove('is-valid');
      }
    </script>
    <script>    
      const Cargas = () => {
        const xhr = new XMLHttpRequest();

        xhr.onload = function() {
          if (xhr.status === 200) {
            const cargas = JSON.parse(xhr.response)
            const cbo = document.getElementById('cbocar')

            cargas.map((itm) => {
              const option = document.createElement('option')
              option.value = itm.IDCARG
              option.text = itm.DESCAR
              option.setAttribute('data-foo', itm.REFCAR)

              cbo.appendChild(option)
            })
              
            document.getElementById('refcar').value = cbo.options[cbo.selectedIndex].getAttribute('data-foo')
          }
        };
        xhr.open('POST', 'http://localhost:8100/api/cargas', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        xhr.send()
      }
      const Tipos = () => {
        const xhr = new XMLHttpRequest();

        xhr.onload = function() {
          if (xhr.status === 200) {
            const tipos = JSON.parse(xhr.response)
            const cbo = document.getElementById('cbotip')

            tipos.map((itm) => {
              const option = document.createElement('option')
              option.value = itm.IDTIPO
              option.text = itm.DESTIP

              cbo.appendChild(option)
            })

            document.getElementById('destip').value = cbo.options[cbo.selectedIndex].text
          }
        };
        xhr.open('POST', 'http://localhost:8100/api/tipos/fraudes', true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
        xhr.send()
      }
      Tipos();
      Cargas();
    </script>
  </body>  
</html>