<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Estadística</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <!-- apexcharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <style>
      .subheader {
        font-size: .625rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .04em;
        line-height: 1.6;
        color: #626976;
      }
      .h1 {
        font-size: 1.5rem;
      }
      .progress-container {
        height: 0.7rem;
        width: 100%;
        border-radius: 0.4rem;
        background: #f2f3f4;
        text-align: center;
        color: #fff;
      }

      .progress-container .progress {
        height: 100%;
        width: 0;
        border-radius: 0.4rem;
        background: #225ddd;
        transition: width 0.4s ease;
      }
      .err {
          width: 50%;
          height: 100%;
          /* background-color: green; */
          float: left;
      }

      .dec {
          width: 25%;
          height: 100%;
          /* background-color: orange; */
          float: left;
      }

      .otr {
          width: 10%;
          height: 100%;
          /* background-color: red; */
          float: left;
      }
      .legend {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 4px;
      }
      .progress-separated {
        border-right: 2px solid #fff;
      }
    </style>
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../../partials/header') %>
      <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-deck row-cards">
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Correctas</div>
                    </div>
                    <div class="h1 mb-3"><%- datos.situacion.CORSIT %></div>
                    <div class="d-flex">
                      <div class="subheader">Causas</div>
                      <div class="ms-auto">
                        <div class="col-auto">
                          <span class="legend bg-primary"></span>
                          <span>Cruce err</span>
                          <span class="legend bg-warning"></span>
                          <span>Ya declar</span>
                          <span class="legend bg-success"></span>
                          <span>Atrib otr</span>
                        </div>
                      </div>
                    </div>
                      <div class="progress-container">
                        <div class="err bg-primary progress-separated">
                          <h6 class="m-0"><%- datos.situacion.ACUERR %></h6>
                        </div>
                        <div class="dec bg-warning progress-separated">
                          <h6 class="m-0"><%- datos.situacion.ACUDEC %></h6>
                        </div>
                        <div class="otr bg-success">
                          <h6 class="m-0"><%- datos.situacion.ACUOTR %></h6>
                        </div>
                      </div>
                  </div>                  
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Liquidaciones</div>
                    </div>
                    <div class="h1 mb-3"><%- datos.hitos.LIQUID %></div>
                    <div class="d-flex align-items-center">
                      <div class="subheader">Propuestas</div>
                    </div>
                    <div class="h2"><%- datos.hitos.PROLIQ %></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center">
                      <div class="subheader">Sanciones</div>
                    </div>
                    <div class="h1 mb-3"><%- datos.hitos.SANCIO %></div>
                    <div class="d-flex align-items-center">
                      <div class="subheader">Propuestas</div>
                    </div>
                    <div class="h2"><%- datos.hitos.PROSAN %></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="card">
                  <div class="card-body">
                    <div id="chart-actuac"></div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-6">
                <div class="row row-cards">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Oficinas</h3>
                      </div>
                      <div class="card-body">
                        <table class="table table-vcenter table-striped sortable" id="tblFraudes">
                          <thead>
                          <tr class="header">
                            <th>Oficina</th>
                            <th class="w-5">Pend</th>
                            <th class="w-5">Adju</th>
                            <th class="w-5">Resu</th>
                            <th class="w-6">Total</th>
                          </tr>
                          </thead>
                          <tbody id="table-body">
                            <% datos.oficinas.map(element => { %>
                              <tr>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.DESOFI %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.PEN %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.ADJ %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.RES %></div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium"><%- element.TOT %></div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            <% }) %>
                              <tr>
                                <td>
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium text-blue">TOTAL </div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium text-blue">pend</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium text-blue">adju</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium text-blue">resu</div>
                                    </div>
                                  </div>
                                </td>
                                <td class="w-6">
                                  <div class="d-flex align-items-center">
                                    <div class="flex-fill">
                                      <div class="font-weight-medium text-blue">total</div>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="card">
                      <div class="col-4">
                        <div id="chart-correc" class="chart" data-percent="75">
                          <span class="percent">75</span>
                        </div>
                      </div>
                      <div class="col-4">
                        <div id="chart-liquid"></div>
                      </div>
                      <div class="col-4">
                        <div id="chart-sancio"></div>
                      </div>
                    </div>
                    <!-- <div class="row row-cards"> -->
                      <!-- <div class="col-4"> -->
                        <!-- <div class="card"> -->
                          <!-- <div class="card-body"> -->
                            <!-- <div id="chart-correc"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div>
                      <div class="col-4"> -->
                        <!-- <div class="card">
                          <div class="card-body"> -->
                            <!-- <div id="chart-liquid"></div> -->
                          <!-- </div> -->
                        <!-- </div>
                      </div>
                      <div class="col-4">
                        <div class="card">
                          <div class="card-body"> -->
                            <!-- <div id="chart-sancio"></div> -->
                          <!-- </div> -->
                        <!-- </div> -->
                      <!-- </div> -->
                    <!-- </div> -->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      <%- include('../../../partials/footer') %>
    </div>
  </body>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/easypiechart.min.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
      const changeProgress = (element, progress) => {
        element.style.width = `${progress}%`;
      };

      changeProgress(document.querySelector(".err"), <%- datos.situacion.ACUERR / datos.situacion.CORSIT * 100 %>)
      changeProgress(document.querySelector(".dec"), <%- datos.situacion.ACUDEC / datos.situacion.CORSIT * 100 %>)
      changeProgress(document.querySelector(".otr"), <%- datos.situacion.ACUOTR / datos.situacion.CORSIT * 100 %>)
  </script>
  <script>
    const options1 = {
      chart: {
        type: 'bar',
        stacked: true,
      },
      dataLabels: {
        enabled: false
      },
      series: [
        {
          name: 'Liquidaciones',
          data: <%- datos.serieL %>
        },
        {
          name: 'Sanciones',
          data: <%- datos.serieS %>
        }
      ],
      xaxis: {
        type: 'categories',
        labels: {
          datetimeFormatter: {
            year: 'yyyy',
            month: 'MMM \'yy',
            day: 'dd MMM',
            hour: 'HH:mm'
          }
        },
      }
    }
    const options2 = {
      series: [76],
      chart: {
        type: 'radialBar',
        offsetY: -5,
        sparkline: {
          enabled: true
        }
      },
      plotOptions: {
        radialBar: {
          startAngle: -90,
          endAngle: 90,
          track: {
            background: "#e7e7e7",
            strokeWidth: '97%',
            margin: 5, // margin is in pixels
            dropShadow: {
              enabled: true,
              top: 2,
              left: 0,
              color: '#999',
              opacity: 1,
              blur: 2
            }
          },
          dataLabels: {
            name: {
              show: true
            },
            value: {
              offsetY: -40,
              fontSize: '22px'
            }
          }
        }
      },
      grid: {
        padding: {
          top: -10
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
          shade: 'light',
          shadeIntensity: 0.4,
          inverseColors: false,
          opacityFrom: 1,
          opacityTo: 1,
          stops: [0, 50, 53, 91]
        },
      },
      labels: ['Correctas'],
    };
    const options3 = {
      series: [24],
      chart: {
        type: 'radialBar',
        offsetY: -10,
        sparkline: {
          enabled: true
        }
      },
      plotOptions: {
        radialBar: {
          startAngle: -90,
          endAngle: 90,
          track: {
            background: "#e7e7e7",
            strokeWidth: '97%',
            margin: 5, // margin is in pixels
            dropShadow: {
              enabled: true,
              top: 2,
              left: 0,
              color: '#999',
              opacity: 1,
              blur: 2
            }
          },
          dataLabels: {
            name: {
              show: true
            },
            value: {
              offsetY: -40,
              fontSize: '22px'
            }
          }
        }
      },
      grid: {
        padding: {
          top: -10
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
          shade: 'light',
          shadeIntensity: 0.4,
          inverseColors: false,
          opacityFrom: 1,
          opacityTo: 1,
          stops: [0, 50, 53, 91]
        },
      },
      labels: ['Liquidadas'],
    };
    const options4 = {
      series: [12],
      chart: {
        type: 'radialBar',
        offsetY: -10,
        sparkline: {
          enabled: true
        }
      },
      plotOptions: {
        radialBar: {
          startAngle: -90,
          endAngle: 90,
          track: {
            background: "#e7e7e7",
            strokeWidth: '97%',
            margin: 5, // margin is in pixels
            dropShadow: {
              enabled: true,
              top: 2,
              left: 0,
              color: '#999',
              opacity: 1,
              blur: 2
            }
          },
          dataLabels: {
            name: {
              show: true
            },
            value: {
              offsetY: -40,
              fontSize: '22px'
            }
          }
        }
      },
      grid: {
        padding: {
          top: -10
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
          shade: 'light',
          shadeIntensity: 0.4,
          inverseColors: false,
          opacityFrom: 1,
          opacityTo: 1,
          stops: [0, 50, 53, 91]
        },
      },
      labels: ['Sancionadas'],
    };
    const options5 = {
      series: [{
        name: 'Erroneo',
        data: [44]
      }, {
        name: 'Declarado',
        data: [53]
      }, {
        name: 'Otros',
        data: [12]
      }],
      chart: {
        type: 'bar',
        height: 60,
        width: 350,
        stacked: true,
        toolbar: {
          show: false,
        },
        offsetX: -40,
        offsetY: 40,
      },
      grid: {
        show: false,
      },
      dataLabels: {
        enabled: false,
        },
      plotOptions: {
        bar: {
          horizontal: true,
        },
      },
      stroke: {
        width: 1,
        colors: ['#fff'],
      },
      xaxis: {
        labels: {  
          show: false,
        },
        categories: ['Causas'],
        axisBorder: {
          show: false,
        },
        axisTicks: {
          show: false,
        },
      },
      yaxis: {
        show: false,
      },
      // tooltip: {
      //   y: {
      //     formatter: function (val) {
      //       return val + "K"
      //     }
      //   }
      // },
      fill: {
        opacity: 1        
      },
      legend: {
        show: false,
        position: 'right',
        horizontalAlign: 'center',
        fontSize: 10,
        height: 140,
        offsetX: -60,
        offsetY: -60,
        floating: true,
      }
    };

    const chart1 = new ApexCharts(document.querySelector("#chart-actuac"), options1);
    // const chart2 = new ApexCharts(document.querySelector("#chart-correc"), options2);
    // const chart3 = new ApexCharts(document.querySelector("#chart-liquid"), options3);
    // const chart4 = new ApexCharts(document.querySelector("#chart-sancio"), options4);
    // const chart5 = new ApexCharts(document.querySelector("#chart-situac"), options5);
    chart1.render();
    // chart2.render();
    // chart3.render();
    // chart4.render();
    // chart5.render();    
  </script>

  <script>
    var element = document.querySelector('#chart-correc');
    new EasyPieChart(element, {
      // easing: 'ease',
			// delay: 3000,
			// barColor: '#69c',
			// trackColor: '#ace',
			// scaleColor: false,
			// lineWidth: 3,
			// trackWidth: 1,
			// lineCap: 'round',
			// onStep: function(from, to, percent) {
			// 	this.el.children[0].innerHTML = Math.round(percent);
			// }
    });
  </script>
</html>