<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Periodo</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">              
                <form action="/admin/estadisticas/fraudes" method="POST" onsubmit="return validate();" >
                  <input type="hidden" id="destip" name="destip">
                  <div class="modal-body">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="mb-1">
                            <div class="form-label">Tipo</div>
                            <select class="form-select form-control" id="cbotip" name="tipfra" value="">
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-4">
                          <div class="mb-1">
                            <div class="input-control">
                              <label class="form-label required">Desde</label>
                              <input type="date" name="desde" id="desde" class="form-control" value="<%- desde %>" />
                              <div class="invalid-feedback"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="mb-1">
                            <div class="input-control">
                              <label class="form-label required">Hasta</label>
                              <input type="date" name="hasta" id="hasta" class="form-control" value="<%- hasta %>" />
                              <div class="invalid-feedback"></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="mb-1">
                            <div class="input-control">
                              <label class="form-label required">Fecha de carga</label>
                              <input type="date" name="fecfra" id="fecfra" class="form-control" value="<%- fecha %>" />
                              <div class="invalid-feedback"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <!-- <a href="/admin" class="btn btn-link">Cancelar</a> -->
                    <button type="submit" class="btn btn-primary ms-auto">Generar estadística</button>              
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
    const desde = document.getElementById('desde')
    const hasta = document.getElementById('hasta')
    const fecha = document.getElementById('fecfra')

    const validate = () => {
      const desdeValue = desde.value
      const hastaValue = hasta.value
      const fechaValue = fecha.value

      if (isNaN(Date.parse(desdeValue))) {
        setError(desde, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(desde)
        }, 3000)
        return false
      } else {
        setSuccess(desde)
      }
      if (isNaN(Date.parse(hastaValue))) {
        setError(hasta, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(hasta)
        }, 3000)
        return false
      } else {
        setSuccess(hasta)
      }
      if (isNaN(Date.parse(fechaValue))) {
        setError(fecha, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(fecha)
        }, 3000)
        return false
      } else {
        setSuccess(fecha)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  <script>
    const Tipos = () => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const tipos = JSON.parse(xhr.response)
          const cbo = document.getElementById('cbotip')

          tipos.map((itm) => {
            const option = document.createElement('option')
            option.value = itm.IDTIPO
            option.text = itm.DESTIP

            cbo.appendChild(option)
          })

          cbo.addEventListener('change', (e) => {
            document.getElementById('destip').value = cbo.options[cbo.selectedIndex].text
          })
        }
      };
      xhr.open('POST', 'http://localhost:8100/api/tipos/fraudes', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send()
    }
    Tipos();
  </script>
</body>
</html>