<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Añadir Tipo</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <header class="navbar navbar-expand-md navbar-light d-print-none">
      <div class="container-xl">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h1 class="navbar-brand pe-0 pe-md-3">
          <a href="/">
            <img src="/img/logoFormularios.png" width="110" height="32" alt="AYUDA" class="navbar-brand-image">
          </a>
        </h1>
      </div>
    </header>

    <div class="navbar-expand-md">
      <div class="navbar navbar-light">
        <div class="container-xl">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/" >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="bi-house"></i>
                </span>
                  Inicio
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/formularios" >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="bi bi-music-note"></i>
                </span>
                <span class="nav-link-title">
                  Formularios
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/fraudes" >
                <span class="nav-link-icon d-md-none d-lg-inline-block">
                  <i class="bi bi-cash"></i>
                </span>
                <span class="nav-link-title">
                  Fraudes
                </span>
              </a>
            </li>
              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" href="#" role="button" aria-expanded="false">
                  <span>Administración</span>
                </a>
                <div class="dropdown-menu">
                  <a href="/admin/oficinas" class="dropdown-item">
                    <i class="bi bi-building dropdown-item-icon"></i>Oficinas
                  </a>
                  <a href="/admin/tipos" class="dropdown-item">
                    <i class="bi bi-diagram-2 dropdown-item-icon"></i>Tipos
                  </a>
                  <a href="/admin/usuarios" class="dropdown-item">
                    <i class="bi bi-people dropdown-item-icon"></i>Usuarios
                  </a>
                  <a href="/admin/smss" class="dropdown-item">
                    <i class="bi bi-chat dropdown-item-icon"></i>SMS
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="/admin/estadistica" class="dropdown-item">
                    <i class="bi bi-graph-up dropdown-item-icon"></i>Estadística
                  </a>
                </div>
              </li>          
          </ul>
        </div>
      </div>
    </div>

    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-deck row-cards">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined') { %>
                  <% alerts.map(function (alert){ %>
                    <div
                      class="alert alert-warning alert-dismissible fade show"
                      role="alert"
                    >
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>                
                <form action="/admin/tipos/insert" method="POST" onsubmit="return validate();">
                  <div class="card-header">
                    Tipo
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Descripción</label>
                            <input type="text" name="destip" id="destip" class="form-control" value="<%- datos.tipo.destip %>" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Origen</label>
                            <select class="form-select" id="cboorg" name="orgtip" value="<%- datos.tipo.orgtip %>">
                              <% datos.arrOrigenTipo.map(element => { %> 
                                <option value="<%- element.id %>" <%- element.id == datos.tipo.orgtip ? " selected":"" %>><%- element.des %></option>
                              <% }) %> 
                            </select>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Texto ayuda</label>
                            <textarea type="text" name="ayutip" id="ayutip" class="form-control" rows="3" style="resize: vertical"><%- datos.tipo.ayutip %></textarea>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/tipos" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnInsert">Crear nuevo tipo</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer class="footer footer-transparent d-print-none">
      <div class="container">
        <div class="row text-center align-items-center flex-row-reverse">
          <div class="col-12 col-lg-auto mt-3 mt-lg-0">
            Copyright &copy; 2022
            <a href="/" class="link-secondary">SIAC</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="/js/ayuda.js"></script>
  <script>
    const destip = document.getElementById('destip')
    const ayutip = document.getElementById('ayutip')

    const validate = () => {
      const destipValue = destip.value.trim()
      const ayutipValue = ayutip.value.trim()

      if (destipValue === '') {
        setError(destip, 'Descripción requerida')
        return false
      } else {
        setSuccess(destip)
      }
      if (ayutipValue === '') {
        setError(ayutip, 'Texto requerido')
        return false
      } else {
        setSuccess(ayutip)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>
</html>