<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Traspasos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
      <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
        <div class="page-wrapper">
          <div class="page-body">
            <div class="container-xl">
              <div class="row">
                <div class="col-12">
                  <div class="card mt-1">
                    <form action="/admin/traspasos/calendario" method="POST">
                      <div class="card-header">
                        <h3 class="card-title">Traspasos</h3>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-4">
                            <div class="mb-1">
                              <div class="form-label">Oficina</div>
                              <select class="form-select" id="cboofi" name="idofic" value="">
                                <% datos.oficinas.map(element=> { %>
                                  <option value="<%- element.IDOFIC %>" <%- element.IDOFIC===user.oficina ? "selected"
                                    :"" %>>
                                    <%- element.DESOFI %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                          </div>
                          <div class="col-8">
                            <div class="mb-1">
                              <div class="form-label">Usuario</div>
                              <select class="form-select" id="cbousu" name="idusua" value="">
                                <% datos.usuarios.map(element=> { %>
                                  <option value="<%- element.IDUSUA %>" <%- element.IDUSUA===user.id ? "selected" :"" %>
                                    >
                                    <%- element.NOMUSU %>
                                  </option>
                                  <% }) %>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-end">
                        <div class="d-flex">
                          <button type="submit" class="btn btn-success ms-auto">Ver calendario traspasos</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const oficinas = <%- JSON.stringify(datos.oficinas) %>
    const usuarios = <%- JSON.stringify(datos.usuarios) %>
    const serverAPI = <%- JSON.stringify(datos.serverAPI) %>
    const puertoAPI = <%- JSON.stringify(datos.puertoAPI) %>

    async function getUsuariosOficina(prms) {
      const xhr = new XMLHttpRequest();
      return new Promise(function (resolve, reject) {
        xhr.onreadystatechange = function () {
          if (xhr.readyState == 4) {
            if (xhr.status !== 200) {
              reject("Error, status code = " + xhr.status)
            } else {
              resolve(JSON.parse(xhr.response))
            }
          }
        }
        xhr.open('POST', `http://${serverAPI}:${puertoAPI}/api/usuarios`, true);
        xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8')
        xhr.send(JSON.stringify({ usuario: prms }))
      })
    }

    // eventos form
    document.getElementById('cboofi').addEventListener('change', function () {
      const oficina = parseInt(this.value)
      const usuario = {
        OFIUSU: oficina
      }

      getUsuariosOficina(usuario).then(lista => {
        const cbo = document.getElementById('cbousu')
        cbo.innerHTML = "";

        lista.map(itm => {
          const option = document.createElement('option')

          option.value = itm.IDUSUA
          option.text = itm.NOMUSU
          if (itm.IDUSUA === <%- user.id %>) {
            option.selected = true
          }
          cbo.appendChild(option)
        })
      })
    });
  </script>
</body>

</html>