<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Matrículas</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'MATRICULA' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/cursos/matriculas/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idcurs" id="idcurs" value="<%- datos.curso.IDCURS %>">
                  <input type="hidden" name="idmatr" id="idmatr" value="<%- datos.matricula.IDMATR %>">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">Matrícula</h3>
                      <span class="text-muted">
                        <small>Curso: <%- datos.curso.DESCUR %></small>
                      </span>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Descripción</label>
                            <input type="text" name="desmat" id="desmat" class="form-control" value="<%- datos.matricula.DESMAT %>" style="text-transform: uppercase;" autofocus />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">                          
                          <div class="input-control">
                            <label class="form-label">Fecha inicio</label>
                            <input type="date" name="inimat" id="inimat" class="form-control" value="<%- datos.matricula.INIMAT %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label">Fecha fin</label>
                            <input type="date" name="finmat" id="finmat" class="form-control" value="<%- datos.matricula.FINMAT %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="form-label">Estado</div>
                          <select class="form-select" id="cboest" name="stamat" value="">
                            <% datos.arrEstadosMatricula.map(element=> { %>
                            <option value="<%- element.id %>" <%- element.id === datos.matricula.STAMAT ? " selected" :"" %>>
                              <%= element.des %>
                            </option>
                            <% }) %>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="form-label">Información adicional</div>
                          <textarea name="notmat" id="notmat" class="form-control" rows="3"
                            style="resize: vertical"><%= datos.matricula.NOTMAT %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/cursos/matriculas/<%- datos.curso.IDCURS %>" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar matrícula</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const desmat = document.getElementById('desmat')
    const inimat = document.getElementById('inimat')
    const finmat = document.getElementById('finmat')
    
    const validate = () => {
        const desmatValue = desmat.value.trim().toUpperCase()
        const inimatValue = inimat.value
        const finmatValue = finmat.value

        if (desmatValue === '') {
          setError(desmat, 'Descripción requerida')
          setTimeout(function () {
            setSuccess(desmat)
          }, 3000)
          return false
        }
        if (isNaN(Date.parse(inimatValue))) {
          setError(inimat, 'Fecha requerida')
          setTimeout(function () {
            setSuccess(inimat)
          }, 3000)
          return false
        }
        if (isNaN(Date.parse(finmatValue))) {
          setError(finmat, 'Fecha requerida')
          setTimeout(function () {
            setSuccess(finmat)
          }, 3000)
          return false
        }

        return true
      }
    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>

</html>