<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Estados</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="page-wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ESTADO' }) %>
    <div class="page page-center">
      <div class="container container-lg mt-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <% if(typeof alerts !='undefined' ) { %>
              <% alerts.map(function (alert){ %>
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <%- alert.msg %>
              </div>
              <% }) %>
              <% } %>
              <form action="/admin/estados/semanal" method="POST" onsubmit="return validate();">
                <input type="hidden" id="desofi" name="desofi">
                <input type="hidden" id="desper" name="desper">
                <div class="card-header">
                  <h3 class="card-title">Estados</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="form-label">Oficina</div>
                        <select class="form-select" id="cboofi" name="ofiest" value="">
                          <% if (datos.oficinas.length > 1) { %>
                            <option value="0">
                              DESCENTRALIZADAS
                            </option>
                          <% } %>
                          <% datos.oficinas.map(element=> { %>
                          <option value="<%= element.IDOFIC %>">
                            <%= element.DESOFI %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="mb-1">
                        <div class="form-label">Perfil</div>
                        <select class="form-select" id="cboper" name="perusu" value="">
                          <% datos.arrTiposPerfil.map(element=> { %>
                          <option value="<%= element.id %>">
                            <%= element.des %>
                          </option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="mb-1">
                        <div class="form-label">Formato</div>
                        <select class="form-select" id="cbofor" name="format" value="">
                          <option value="1">MENSUAL</option>
                          <option value="2">SEMANAL</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="input-control">
                          <label class="form-label required">Fecha inicio</label>
                          <input type="date" name="desde" id="desfec" class="form-control" value="<%- datos.desde %>" />
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="mb-1">
                        <div class="input-control">
                          <label class="form-label required">Fecha fin</label>
                          <input type="date" name="hasta" id="hasfec" class="form-control" value="<%- datos.hasta %>" />
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <div class="d-flex">
                    <button type="submit" class="btn btn-primary ms-auto">Ver estados</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script>
    const cboO = document.getElementById('cboofi');
    const cboP = document.getElementById('cboper');

    document.getElementById('desofi').value = cboO[cboO.selectedIndex].text
    document.getElementById('desper').value = cboP[cboP.selectedIndex].text

    cboO.addEventListener('change', (e) => {
      document.getElementById('desofi').value = e.target.options[e.target.selectedIndex].text
    })
    cboP.addEventListener('change', (e) => {
      document.getElementById('desper').value = e.target.options[e.target.selectedIndex].text
    })
  </script>

  <script>
    const desde = document.getElementById('desfec')
    const hasta = document.getElementById('hasfec')

    const validate = () => {
      const desdeValue = desde.value.trim()
      const hastaValue = hasta.value.trim()

      if (isNaN(Date.parse(desdeValue))) {
        setError(desde, 'Fecha requerida')
        setTimeout(function() {
          setSuccess(desde)
        }, 3000)
        return false
      } else {
        setSuccess(desde)
      }
      if (isNaN(Date.parse(hastaValue))) {
        setError(hasta, 'Fecha requerida')
        setTimeout(function() {
          setSuccess(hasta)
        }, 3000)
        return false
      } else {
        setSuccess(hasta)
      }

      const aDesde = desdeValue.split('-')
      const aHasta = hastaValue.split('-')
      const formato = document.getElementById('cbofor').value

      if (formato === '1') {
        const mesDesde = aDesde[1]
        const mesHasta = aHasta[1]
        const diaDesde = aDesde[2]
        const diaHasta = aHasta[2]
        const yearDesde = aDesde[0]
        const yearHasta = aHasta[0]
        const lastDay = new Date(yearDesde, mesDesde, 0).getDate()

        if (mesDesde !== mesHasta) {
          setError(hasta, 'Rango de fechas debe estar en el mismo mes')
          setTimeout(function () {
            setSuccess(hasta)
          }, 3000)
          return false
        } else if (diaDesde !== '01'){
          setError(desde, 'Rango de mes debe comenzar en primer día')
          setTimeout(function () {
            setSuccess(desde)
          }, 3000)
          return false
        } else if (parseInt(diaHasta) !== lastDay) {
          setError(hasta, 'Rango de mes debe finalizar en último día')
          setTimeout(function () {
            setSuccess(hasta)
          }, 3000)
          return false
        }
      } else {
        const diaDesde = aDesde[2]
        const diaHasta = aHasta[2]
        const diff = (new Date(hastaValue).getTime() - new Date(desdeValue).getTime()) / (1000 * 3600 * 24)

        if (diff !== 4) {
          setError(hasta, 'Rango de semana es de 5 días')
          setTimeout(function () {
            setSuccess(hasta)
          }, 3000)
          return false
        }
      }

      // if (new Date(desdeValue).getDay() === 0) {
      //   setError(desde, 'Fecha no permitida (domingo)')
      //   setTimeout(function () {
      //     setSuccess(desde)
      //   }, 3000)
      //   return false
      // }

      // if (new Date(hastaValue).getDay() === 0) {
      //   setError(hasta, 'Fecha no permitida (domingo)')
      //   setTimeout(function () {
      //     setSuccess(hasta)
      //   }, 3000)
      //   return false
      // }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  <script>
    document.getElementById('cbofor').addEventListener('change', function (e) {
      const currentYear = new Date(document.querySelector("#desfec").value).getFullYear()
      const currentMonth = new Date(document.querySelector("#desfec").value).getMonth()
      const lastDayMonth = new Date(currentYear, currentMonth + 1, 0).getDate()

      let desde = new Date(currentYear, currentMonth, 1,2)
      let hasta = desde

      if (e.target.value === '1'){
        desde = new Date(currentYear, currentMonth, 1, 2)
        hasta = new Date(currentYear, currentMonth, lastDayMonth, 2)
      } else {
        let t = new Date()

        t = new Date(document.querySelector("#desfec").value)

        if (t.getDay() > 1) {
          const primerDiaSemana = t.getDate() - t.getDay()
          
          t.setDate(desde.getDate() + primerDiaSemana)
          desde = new Date(t)
          hasta = new Date(t.setDate(t.getDate() + 4))
        } else {
          t = new Date(new Date(document.querySelector("#desfec").value))
          t.setDate(t.getDate() +4)

          hasta = t
        }
      }

      document.querySelector("#desfec").value = desde.toISOString().split('T')[0]
      document.querySelector("#hasfec").value = hasta.toISOString().split('T')[0]
    })
  </script>
</body>

</html>