<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Modificar SMS</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-md">
          <div class="row row-deck row-cards">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined') { %>
                  <% alerts.map(function (alert){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %>   
                <form action="/admin/smss/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idsmss" id="idsmss" value="<%- datos.sms.IDSMSS %>" />
                  <div class="card-header">
                    <h3 class="card-title">Editar sms</h3>
                  </div>
                  <div class="card-body">                    
                    <div class="row">
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Teléfono</label>
                            <input type="text" name="movsms" id="movsms" class="form-control" value="<%- datos.sms.MOVSMS %>" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-6"></div>
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="form-label">Estado</div>
                          <select class="form-select" id="cbosta" name="stasms" value="<%- datos.sms.STASMS %>">
                            <% datos.arrEstadosSms.map(element => { %> 
                              <option value="<%- element.id %>" <%- element.id == datos.sms.STASMS ? " selected":"" %>><%- element.des %></option>
                            <% }) %> 
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Texto</label>
                            <textarea name="texsms" id="texsms" class="form-control" value="" maxlength="140" rows="5" style="resize: vertical"><%- datos.sms.TEXSMS %></textarea>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/smss" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar sms</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <script src="/js/ayuda.min.js"></script>
  <script>
    const refdoc = document.getElementById('refdoc')
    const texsms = document.getElementById('texsms')

    const validate = () => {
      const refdocValue = refdoc.value.trim()
      const texsmsValue = texsms.value.trim()

      if (refdocValue === '') {
        setError(refdoc, 'Referencia requerida')
        setTimeout(function () {
          setSuccess(refdoc)
        }, 3000)
        return false
      } else {

        setSuccess(refdoc)
      }
      if (texsmsValue === '') {
        setError(texsms, 'Texto requerido')
        setTimeout(function () {
          setSuccess(texsms)
        }, 3000)
        return false
      } else {
        setSuccess(texsms)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>
</html>