<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Históricos</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../partials/header') %>
      <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
      <div class="page-wrapper">
        <div class="page-body">
          <div class="container-xl">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Históricos</h3>
                    <div class="col-auto ms-auto">
                      <div class="d-flex">
                        <div class="input-icon me-3">
                          <span class="input-icon-addon">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="10" cy="10" r="7"></circle>
                            <line x1="21" y1="21" x2="15" y2="15"></line>
                          </svg>
                          </span>
                          <input type="text" class="form-control d-inline-block me-3" id="buscarUserBox" onkeyup="arrayFilter();" placeholder="Buscar..." aria-label="Buscar en históricos">
                        </div>
                      </div>
                    </div>                    
                  </div>
                  <div class="card-body">
                    <table class="table table-vcenter table-striped sortable" id="tblUsuarios">
                      <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th>Nombre</th>
                        <th class="w-4"></th>
                      </tr>
                      </thead>
                      <tbody id="table-body">
                      </tbody>
                    </table>
                    <div id="pagination-wrapper" class="py-1"></div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../partials/footer') %>
    </div>
    
    <div class="modal modal-blur fade" id="modal-activar" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-success"></div>
          <form action="/admin/historicos/activar" method="POST" onclick="return validate();">
            <input type="hidden" id="idusua" name="idusua" value="">
            <div class="modal-body text-center py-4">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-green icon-lg" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="12" cy="12" r="9"></circle>
                <path d="M9 12l2 2l4 -4"></path>
              </svg>
              <h3>Activar usuario</h3>
              <div id="msgact"></div>
              <div class="card-body text-start">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-1">
                      <div class="input-control">
                        <div class="form-label">Oficina</div>
                        <select class="form-select form-control" id="cboofi" name="ofiusu" value="">
                          <option value="0">SELECCIONE OFICINA</option>
                          <% datos.oficinas.map(element=> { %>
                            <option value="<%- element.IDOFIC %>">
                              <%- element.DESOFI %>
                            </option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="w-100">
                <div class="row">
                  <div class="col">
                    <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                  </div>
                  <div class="col">
                    <button type="submit" class="btn btn-success w-100">Activar usuario</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/js/ayuda.min.js"></script>
    <script src="/js/historico.js"></script>
    <script>
      const orgList = <%- JSON.stringify(datos.historicos) %>

      let state = {
        'querySet': orgList,
        'page': 1,
        'rows': 10,
      }

      buildTable(state)
    </script>
  <script>
    const cboofi = document.getElementById('cboofi')

    const validate = () => {
      const cboofiValue = cboofi.value

      if (cboofiValue === '0') {
        setError(cboofi, 'Oficina requerida')
        setTimeout(function () {
          setSuccess(cboofi)
        }, 3000)
        return false
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');
      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');
      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  </body>
</html>