<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Hito</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'FRAUDES'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <% if(typeof alerts !='undefined') { %>
                  <% alerts.map(function (alert){ %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <%- alert.msg %>
                    </div>
                  <% }) %>
                <% } %> 
                <form action="/admin/fraudes/hitos/insert" method="POST" onsubmit="return validate();">
                  <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.idfrau %>">
                  <input type="hidden" id="anuhit" name="anuhit" value="">
                  <div class="card-header">
                    <h3 class="card-title">Nuevo hito</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="form-label">Tipo</div>
                          <div class="input-control">
                            <select class="form-select form-control" id="cbotip" name="tiphit" value="">
                            </select>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control required">
                            <label class="form-label required">Importe</label>
                            <input type="text" name="imphit" id="imphit" class="form-control" value="" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label">Observaciones</label>
                          <textarea type="text" name="obshit" id="obshit" class="form-control" rows="3" style="resize: vertical"></textarea>
                        </div>
                      </div>
                    </div>
                    <div id="liq" class="row">
                      <div class="col-12">
                        <div class="form-label">Generar liquidaci贸n</div>
                        <label class="form-check form-switch">
                          <input type="checkbox" id="genliq" name="genliq" class="form-check-input" value="0">
                          <span class="form-check-label">Crear hito de liquidaci贸n</span>
                        </label>  
                      </div>
                    </div>
                    <div id="san" class="row">
                      <div class="col-12">
                        <div class="form-label">Generar sanci贸n</div>
                        <label class="form-check form-switch">
                          <input type="checkbox" id="gensan" name="gensan" class="form-check-input" value="0">
                          <span class="form-check-label">Crear hito de sanci贸n</span>
                        </label>  
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/fraudes/hitoseventos/<%- datos.fraude.idfrau %>" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnInsert">Crear hito</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const messages = document.getElementById('messages')
    const socket = io()

    socket.on('receive-message', msg => {
      const li = document.createElement('li')
      li.textContent = msg
      messages.appendChild(li)

      const toggleBadge = document.querySelector('#toggleBadge');
      const numeroMensajes = messages.getElementsByTagName("li").length
      if (numeroMensajes === 1) {
        toggleBadge.classList.toggle('d-none')
      }
    })
  </script>
  <script>
    const imphit = document.getElementById('imphit')

    const validate = () => {
      const imphitValue = imphit.value

      if (imphitValue === '') {
        setError(imphit, 'Importe requerido')
        setTimeout(function () {
          setSuccess(imphit)
        }, 3000)
        return false
      } else {
        setSuccess(imphit)
      }

      document.getElementById('anuhit').value = combo.options[combo.selectedIndex].getAttribute('data-foo')
      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
  <script>
    const Hitos = () => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const hitos = JSON.parse(xhr.response)

          Tipos(hitos);
        }
      };
      xhr.open('POST', 'http://localhost:8100/api/fraudes/hitos', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send(JSON.stringify({fraude: {idfrau: <%- datos.fraude.idfrau %>}}))
    }
    Hitos();
  </script>
  <script>
    const Tipos = (hitos) => {
      const xhr = new XMLHttpRequest();

      xhr.onload = function() {
        if (xhr.status === 200) {
          const tipos = JSON.parse(xhr.response)
          const cbo = document.getElementById('cbotip')

          tipos.map((itm) => {
            const option = document.createElement('option')
            option.value = itm.IDTIPO
            option.text = itm.DESTIP
            option.setAttribute('data-foo', itm.ANUHIT)

            if (hitos.some(el => el.TIPHIT === itm.IDTIPO)) {
              option.setAttribute('disabled', 'disabled')
            }
            cbo.appendChild(option)
          });

          elemLiq.style.display = 'none'
          elemSan.style.display = 'none'

          if (parseInt(cbo.options[cbo.selectedIndex].getAttribute('data-foo')) === <%- datos.estadosHito.propuestaLiquidacion %>) {
            elemLiq.style.display = ''
          }
          if (parseInt(cbo.options[cbo.selectedIndex].getAttribute('data-foo')) === <%- datos.estadosHito.propuestaSancion %>) {
            elemSan.style.display = ''
          }
        }
      };
      xhr.open('POST', 'http://localhost:8100/api/tipos/hitos', true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=utf-8');
      xhr.send()
    }
  </script>
  <script>
    const input = document.querySelector('#imphit');
    const elemLiq = document.querySelector('#liq');
    const elemSan = document.querySelector('#san');
    const combo = document.getElementById('cbotip');
    const gLiq = document.querySelector('#genliq');
    const gSan = document.querySelector('#gensan');

    input.addEventListener('input', (e) => {
      e.target.value = e.target.value.replace(/[^0-9 \,.]/, '').replace(/[.]/g, ',')
    });
    gLiq.addEventListener('change', (e) => {
      e.target.value = e.target.checked ? 1:0
    });
    gSan.addEventListener('change', (e) => {
      e.target.value = e.target.checked ? 1:0
    });
    combo.addEventListener('change', (e) => {
      const data = e.target.options[e.target.selectedIndex].getAttribute('data-foo')
      document.getElementById('anuhit').value = data

      if (parseInt(data) === <%- datos.estadosHito.propuestaLiquidacion %>) {
        elemLiq.style.display = ''
      } else {
        elemLiq.style.display = 'none'
        gLiq.value = 0
        gLiq.checked = false
      }
      if (parseInt(data) === <%- datos.estadosHito.propuestaSancion %>) {
        elemSan.style.display = ''
      } else {
        elemSan.style.display = 'none'
        gSan.value = 0
        gSan.checked = false
      }
    })
  </script>
</body>
</html>