<div class="navbar-expand-md">
  <div class="navbar navbar-light">
    <div class="container-xl">
      <ul class="navbar-nav">
        <li class="nav-item <%- opcion === 'INICIO' ? 'active':'' %>">
          <a class="nav-link" href="/admin">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" height="24" width="24" viewBox="0 0 24 24">
              <path d="M6.05 18.95H9.9V13.1h4.2v5.85h3.85V10L12 5.5 6.05 10Zm-.625.625v-9.9L12 4.7l6.6 5v9.875h-5.125V13.75H10.55v5.825ZM12 12.225Z" />
            </svg>
            <span>Inicio</span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'CALENDARIO' ? 'active':'' %>">
          <a class="nav-link" href="/admin/calendario">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" height="24" width="24" viewBox="0 0 24 24">
              <path d="M5.85 20.575q-.6 0-1.012-.412-.413-.413-.413-1.013V6.825q0-.6.413-1.013Q5.25 5.4 5.85 5.4h2.075V3.1h.725v2.3h6.8V3.1h.65v2.3h2.05q.6 0 1.025.412.425.413.425 1.013V19.15q0 .6-.425 1.013-.425.412-1.025.412Zm0-.65h12.3q.3 0 .55-.25.25-.25.25-.55v-8.3H5.05v8.3q0 .3.25.55.25.25.55.25Zm-.8-9.75h13.9v-3.35q0-.3-.25-.55-.25-.25-.55-.25H5.85q-.3 0-.55.25-.25.25-.25.55Zm0 0v-4.15 4.15Zm6.95 4q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm8 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 3.8q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm8 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Z" />
            </svg>
            <span class="nav-link-title">Calendario</span>
          </a>
        </li>
        <li class="nav-item <%- opcion === 'ESTADO' ? 'active':'' %>">
          <a class="nav-link" href="/admin/estados">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" height="24" width="24" viewBox="0 0 24 24">
              <path d="m2.45 17.2-.525-.4L6.1 10.15l2.975 3.5 3.95-6.4 1.875 2.825q-.175.05-.325.087-.15.038-.3.088L13.05 8.425l-3.85 6.3L6.175 11.2Zm19.125 4.825-3.5-3.475q-.45.325-.95.5-.5.175-1.05.175-1.325 0-2.237-.913-.913-.912-.913-2.237 0-1.35.913-2.263.912-.912 2.237-.912 1.325 0 2.25.925t.925 2.25q0 .55-.188 1.075-.187.525-.537.95l3.525 3.475Zm-5.5-3.425q1.075 0 1.813-.725.737-.725.737-1.8 0-1.075-.737-1.813-.738-.737-1.813-.737-1.05 0-1.787.737-.738.738-.738 1.813 0 1.05.725 1.788.725.737 1.8.737Zm1.675-8.425q-.175-.05-.325-.075l-.3-.05 4.45-7.1.525.4Z" />
            </svg>
            <span>Estados</span>
          </a>
        </li>
        <li class="nav-item dropdown <%- opcion === 'FORMACION' ? 'active':'' %>">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" href="#" role="button"
            aria-expanded="false">
            <span>Formacion</span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a href="/admin/formacion/matriculas" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24"
                    stroke="currentColor" fill="none">
                    <path stroke-width=".3"
                      d="M17.275 8.7h1.35V7.375h-1.35Zm0 3.975h1.35v-1.35h-1.35Zm0 3.95h1.35V15.3h-1.35Zm-1.6 2.95v-.625h5.275V5.05h-9.775v2.5l-.625-.45V4.425h11.025v15.15Zm-13.25 0v-7.9l5.6-3.975 5.6 3.975v7.9H9.45V15.3H6.6v4.275Zm.65-.625h2.9v-4.3H10.1v4.3H13V12L8.025 8.525 3.075 12Zm12.6-8.175ZM10.1 18.95v-4.3H5.975v4.3-4.3H10.1Z" />
                  </svg>
                  Matrículas
                </a>
                <a href="/admin/formacion/cursos" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24"
                    stroke="currentColor" fill="none">
                    <path stroke-width=".3"
                      d="m4.25 19.675 3.3-9.225 5.925 5.925Zm1.025-1.025 7-2.5-4.5-4.5Zm7.75-5.7-.475-.475 5.25-5.25q.65-.65 1.613-.65.962 0 1.637.65l.275.3-.425.45-.275-.275q-.5-.5-1.187-.5-.688 0-1.188.5Zm-3.05-3.025L9.5 9.45l.6-.6q.625-.625.625-1.475 0-.85-.625-1.45l-.6-.6.475-.475.6.6q.8.8.8 1.937 0 1.138-.8 1.938Zm1.525 1.5-.475-.475 3.25-3.25q.5-.5.5-1.175t-.5-1.175L13 4.05l.475-.45 1.275 1.275q.7.675.7 1.637 0 .963-.7 1.663Zm3.025 3.05L14.05 14l.5-.5q.825-.825 2-.825t1.975.825l.5.5-.45.475-.5-.5q-.65-.65-1.525-.65-.875 0-1.525.65Zm-9.25 4.175Z" />
                  </svg>
                  Cursos
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown <%- opcion === 'ADMINISTRACION' ? 'active':'' %>">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="outside" href="#" role="button" aria-expanded="false">
            <span>Administración</span>
          </a>
          <div class="dropdown-menu">
            <div class="dropdown-menu-columns">
              <div class="dropdown-menu-column">
                <a href="/admin/oficinas" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3" d="M17.275 8.7h1.35V7.375h-1.35Zm0 3.975h1.35v-1.35h-1.35Zm0 3.95h1.35V15.3h-1.35Zm-1.6 2.95v-.625h5.275V5.05h-9.775v2.5l-.625-.45V4.425h11.025v15.15Zm-13.25 0v-7.9l5.6-3.975 5.6 3.975v7.9H9.45V15.3H6.6v4.275Zm.65-.625h2.9v-4.3H10.1v4.3H13V12L8.025 8.525 3.075 12Zm12.6-8.175ZM10.1 18.95v-4.3H5.975v4.3-4.3H10.1Z" />
                  </svg>
                  Oficinas
                </a>
                <a href="/admin/festivos" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3" d="m4.25 19.675 3.3-9.225 5.925 5.925Zm1.025-1.025 7-2.5-4.5-4.5Zm7.75-5.7-.475-.475 5.25-5.25q.65-.65 1.613-.65.962 0 1.637.65l.275.3-.425.45-.275-.275q-.5-.5-1.187-.5-.688 0-1.188.5Zm-3.05-3.025L9.5 9.45l.6-.6q.625-.625.625-1.475 0-.85-.625-1.45l-.6-.6.475-.475.6.6q.8.8.8 1.937 0 1.138-.8 1.938Zm1.525 1.5-.475-.475 3.25-3.25q.5-.5.5-1.175t-.5-1.175L13 4.05l.475-.45 1.275 1.275q.7.675.7 1.637 0 .963-.7 1.663Zm3.025 3.05L14.05 14l.5-.5q.825-.825 2-.825t1.975.825l.5.5-.45.475-.5-.5q-.65-.65-1.525-.65-.875 0-1.525.65Zm-9.25 4.175Z" />
                  </svg>
                  Festivos
                </a>
                <a href="/admin/usuarios" class="dropdown-item" onclick="document.cookie='filtro=;Path=/;Expires=Thu, 01 Jan 1970 00:00:01 GMT;';">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3" d="M3.275 18.025V16.8q0-.625.325-1.05.325-.425.875-.7 1.225-.575 2.388-.925 1.162-.35 2.987-.35 1.825 0 2.988.35 1.162.35 2.387.925.575.275.9.7.325.425.325 1.05v1.225Zm15.15 0v-1.2q0-.8-.275-1.475t-.75-1.175q.525.175 1.05.4.525.225 1.1.475.55.275.875.75.325.475.325 1.025v1.2ZM9.85 11.2q-1.1 0-1.862-.762-.763-.763-.763-1.863 0-1.075.763-1.85.762-.775 1.862-.775t1.863.775q.762.775.762 1.85 0 1.1-.762 1.863-.763.762-1.863.762Zm6.225-2.625q0 1.1-.763 1.863-.762.762-1.862.762h.075q.45-.525.688-1.2.237-.675.237-1.425 0-.725-.262-1.388-.263-.662-.663-1.237h-.075q1.1 0 1.862.775.763.775.763 1.85ZM3.9 17.4h11.9v-.575q0-.4-.187-.675-.188-.275-.713-.55-1.05-.575-2.237-.888-1.188-.312-2.813-.312-1.625 0-2.813.312-1.187.313-2.237.888-.525.275-.712.55-.188.275-.188.65Zm5.95-6.825q.825 0 1.413-.575.587-.575.587-1.4 0-.85-.587-1.425Q10.675 6.6 9.85 6.6q-.825 0-1.4.575t-.575 1.4q0 .825.575 1.412.575.588 1.4.588Zm0 6.825Zm0-8.825Z" />
                  </svg>
                  Usuarios
                </a>
                <a href="/admin/historicos" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3" d="M11 12.65q.3 0 .488-.2.187-.2.187-.45 0-.3-.2-.488-.2-.187-.475-.187-.25 0-.45.2t-.2.475q0 .25.2.45t.45.2Zm-4.025 7v-.625l7.4-.6v-12.1q0-.65-.45-1.1-.45-.45-1.075-.525l-5.075-.4v-.625l5.2.4q.85.075 1.438.712Q15 5.425 15 6.3v12.725Zm-2.025 0v-.625h1.4V5.1q0-.6.413-1.013.412-.412 1.012-.412h8.475q.6 0 1.013.412.412.413.412 1.013v13.925h1.4v.625Zm2.025-.625H17.05V5.1q0-.325-.238-.563-.237-.237-.562-.237H7.775q-.35 0-.575.237-.225.238-.225.563Z" />
                  </svg>
                  Históricos
                </a>
                <div class="dropdown-divider"></div>
                <a href="/admin/traspasos/<%- user.oficina %>" class="dropdown-item">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3"
                      d="m12.1 18.4 2.225-2.225-2.225-2.25-.475.475 1.525 1.5q-1.375 0-2.375-.3t-1.55-.825q-.575-.575-.862-1.3-.288-.725-.288-1.475 0-.425.088-.85.087-.425.262-.8l-.5-.4q-.25.475-.363 1-.112.525-.112 1.05 0 .875.325 1.712.325.838 1 1.513.65.65 1.825.975 1.175.325 2.45.325l-1.425 1.425Zm4.025-4.35q.225-.475.35-1 .125-.525.125-1.05 0-.875-.337-1.725-.338-.85-1.013-1.5-.625-.675-1.812-1Q12.25 7.45 11 7.45l1.4-1.4-.45-.475-2.225 2.25 2.225 2.225.45-.45-1.5-1.5q1.375 0 2.362.287.988.288 1.538.838.575.575.875 1.3.3.725.3 1.475 0 .4-.087.825-.088.425-.263.8ZM12 20.575q-1.775 0-3.337-.675-1.563-.675-2.725-1.838Q4.775 16.9 4.1 15.337 3.425 13.775 3.425 12q0-1.775.675-3.338.675-1.562 1.838-2.725Q7.1 4.775 8.663 4.1q1.562-.675 3.337-.675 1.775 0 3.338.675 1.562.675 2.724 1.837Q19.225 7.1 19.9 8.662q.675 1.563.675 3.338 0 1.775-.675 3.337-.675 1.563-1.838 2.725-1.162 1.163-2.724 1.838-1.563.675-3.338.675Zm0-.65q3.325 0 5.638-2.3 2.312-2.3 2.312-5.625t-2.312-5.638Q15.325 4.05 12 4.05q-3.3 0-5.612 2.312Q4.075 8.675 4.075 12q0 3.3 2.3 5.613 2.3 2.312 5.625 2.312ZM12 12Z" />
                  </svg>
                  Traspasos
                </a>
                <a class="dropdown-item" href="/admin/cursos">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3"
                      d="M13.85 9.475V8.85q.8-.45 1.738-.663.937-.212 1.912-.212.5 0 .988.05.487.05.987.2v.625q-.475-.125-.95-.175-.475-.05-1.025-.05-.975 0-1.912.212-.938.213-1.738.638Zm0 5.45v-.675q.75-.45 1.725-.675.975-.225 1.925-.225.5 0 .988.062.487.063.987.188v.65q-.5-.125-.962-.175-.463-.05-1.013-.05-.975 0-1.925.237-.95.238-1.725.663Zm0-2.7v-.675q.8-.45 1.738-.663.937-.212 1.912-.212.5 0 .988.05.487.05.987.175v.65q-.5-.125-.962-.175-.463-.05-1.013-.05-.975 0-1.925.237-.95.238-1.725.663Zm-7.3 3.8q1.35 0 2.625.312 1.275.313 2.525 1.038V7.65q-1.1-.825-2.462-1.25-1.363-.425-2.713-.425-.875 0-1.488.087-.612.088-1.412.388-.3.1-.425.288-.125.187-.125.412v8.65q0 .35.25.512.25.163.55.038.425-.15 1.1-.238.675-.087 1.575-.087Zm5.775 1.35q1.25-.725 2.525-1.038 1.275-.312 2.6-.312.9 0 1.575.087.675.088 1.125.238.3.125.55-.038.25-.162.25-.512V7.125q0-.225-.125-.4-.125-.175-.425-.3-.825-.25-1.437-.35-.613-.1-1.488-.1-1.35 0-2.7.425t-2.45 1.25Zm-.325.9q-1.225-.775-2.613-1.2Q8 16.65 6.55 16.65q-.675 0-1.325.087-.65.088-1.3.288-.55.2-1.025-.162-.475-.363-.475-.988v-8.75q0-.4.225-.738.225-.337.6-.462.775-.3 1.613-.438Q5.7 5.35 6.55 5.35q1.45 0 2.85.437 1.4.438 2.6 1.263 1.225-.825 2.613-1.263Q16 5.35 17.475 5.35q.825 0 1.663.137.837.138 1.637.438.375.125.588.462.212.338.212.738v8.75q0 .625-.525.962-.525.338-1.125.138-.6-.175-1.212-.25-.613-.075-1.238-.075-1.475 0-2.862.425-1.388.425-2.613 1.2Zm-4.625-6.8Z" />
                  </svg>
                  Cursos
                </a>
                <a class="dropdown-item" href="/admin/calendarios">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon me-2" height="24" width="24" viewBox="0 0 24 24" stroke="currentColor" fill="none">
                    <path stroke-width=".3"
                      d="M5.85 20.575q-.6 0-1.012-.412-.413-.413-.413-1.013V6.825q0-.6.413-1.013Q5.25 5.4 5.85 5.4h2.075V3.1h.725v2.3h6.8V3.1h.65v2.3h2.05q.6 0 1.025.412.425.413.425 1.013V19.15q0 .6-.425 1.013-.425.412-1.025.412Zm0-.65h12.3q.3 0 .55-.25.25-.25.25-.55v-8.3H5.05v8.3q0 .3.25.55.25.25.55.25Zm-.8-9.75h13.9v-3.35q0-.3-.25-.55-.25-.25-.55-.25H5.85q-.3 0-.55.25-.25.25-.25.55Zm0 0v-4.15 4.15Zm6.95 4q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm8 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 3.8q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm-4 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Zm8 0q-.275 0-.475-.2-.2-.2-.2-.475 0-.275.2-.488.2-.212.475-.212.275 0 .488.212.212.213.212.488t-.212.475q-.213.2-.488.2Z" />
                  </svg>
                  Calendarios
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>