<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Turno</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', { opcion: 'CURSO' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/cursos/turnos/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" id="idcurs" name="idcurs" value="<%- datos.curso.IDCURS %>">
                  <input type="hidden" id="idturn" name="idturn" value=<%- datos.turno.IDTURN %>>
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">Turno</h3>
                      <span class="text-muted">
                        <small>Curso: <%- datos.curso.DESCUR %></small>
                      </span>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Descripci贸n</label>
                            <input type="text" name="destur" id="destur" class="form-control" style="text-transform: uppercase;" value="<%- datos.turno.DESTUR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Fecha inicio</label>
                            <input type="date" name="initur" id="initur" class="form-control" value="<%- datos.turno.INITUR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Fecha fin</label>
                            <input type="date" name="fintur" id="fintur" class="form-control" value="<%- datos.turno.FINTUR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Hora inicio</label>
                            <input type="time" name="inihor" id="inihor" class="form-control" value="<%- datos.turno.INIHOR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-3">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Hora fin</label>
                            <input type="time" name="finhor" id="finhor" class="form-control" value="<%- datos.turno.FINHOR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Localizaci贸n</label>
                            <input type="text" name="loctur" id="loctur" class="form-control" style="text-transform: uppercase;" value="<%- datos.turno.LOCTUR %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/cursos/turnos/<%- datos.curso.IDCURS %>" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar turno</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const destur = document.getElementById('destur')
    const initur = document.getElementById('initur')
    const fintur = document.getElementById('fintur')
    const loctur = document.getElementById('loctur')

    const validate = () => {
      const desturValue = destur.value.trim().toUpperCase()
      const locturValue = loctur.value.trim().toUpperCase()
      const initurValue = initur.value
      const finturValue = fintur.value

      if (desturValue === '') {
        setError(destur, 'Descripci贸n requerida')
        setTimeout(function () {
          setSuccess(destur)
        }, 3000)
        return false
      }
      if (isNaN(Date.parse(initurValue))) {
        setError(initur, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(initur)
        }, 3000)
        return false
      }
      if (isNaN(Date.parse(finturValue))) {
        setError(fintur, 'Fecha requerida')
        setTimeout(function () {
          setSuccess(fintur)
        }, 3000)
        return false
      }
      if (locturValue === '') {
        setError(loctur, 'Localizaci贸n requerida')
        setTimeout(function () {
          setSuccess(loctur)
        }, 3000)
        return false
      }

      return true
    }
    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>

</html>