<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Oporrak</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <!-- custom -->
  <link rel="stylesheet" href="/css/estilos.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <style>
    .table-container {
      height: 45em;
    }

    table {
      display: flex;
      flex-flow: column;
      height: 100%;
      width: 100%;
      font-size: 11px;
    }

    table thead {
      flex: 0 0 auto;
      width: calc(100% - 0.9em);
    }

    table tbody {
      /* body takes all the remaining available space */
      flex: 1 1 auto;
      display: block;
      overflow-y: scroll;
    }

    table tbody tr {
      width: 100%;
    }

    table thead,
    table tbody tr {
      display: table;
      table-layout: fixed;
    }

    /* decorations */
    .table-container {
      border: 1px solid black;
      padding: 0.3em;
    }

    table {
      border: 1px solid lightgrey;
    }

    table td,
    table th {
      /* border: 1px solid lightgrey; */
      padding-left: 1em;
    }

    table th {
      border: 1px solid grey;
    }

    .list-group-header {
      background: rgb(241, 241, 241);
      padding: 0.5rem 1.5rem;
      font-size: .75rem;
      font-weight: var(--tblr-font-weight-medium);
      line-height: 1;
      text-transform: uppercase;
      color: var(--tblr-muted);
      border-bottom: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    }
  </style>
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navbar', {opcion: 'INICIO'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-md-6">
              <div class="row row-cards">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">
                        Administración
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row g-3">
                        <% datos.estados.map(itm => { %>
                        <% if (itm.PERROL===1) { %>
                        <div class="col-6">
                          <div class="row align-items-center">
                            <% if(itm.TIPEST === 1) {%>
                            <span class="avatar avatar-rounded bg-green-lt">
                              <h6>
                                <%- itm.USERID.slice(0,5) %>
                              </h6>
                            </span>
                            <div class="col text-truncate">
                              <span style="font-size: .7rem;">
                                <%- itm.NOMUSU.slice(0,33) %>
                              </span>
                              <div class="col text-truncate text-muted">
                                <span style="font-size: .6rem;">
                                  Oficina: <%- itm.DESOFI %>
                                </span>
                                <span style="font-size: .7rem; margin-left: 1rem;">
                                  Tlf: <%- itm.TELUSU %>
                                </span>
                              </div>
                            </div>
                            <% } else { %>
                            <span class="avatar avatar-rounded bg-red-lt">
                              <h6>
                                <%- itm.USERID.slice(0,5) %>
                              </h6>
                            </span>
                            <div class="col text-truncate">
                              <span style="font-size: .7rem;">
                                <%- itm.NOMUSU.slice(0,33) %>
                              </span>
                              <div class="col text-muted">
                                <span style="color: red;font-size: .7rem;">
                                  NO DISPONIBLE
                                </span>
                              </div>
                            </div>
                            <% } %>
                          </div>
                        </div>
                        <% } %>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">
                        Responsables
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row g-3">
                        <% datos.estados.map(itm=> { %>
                        <% if (itm.PERROL===2) { %>
                        <div class="col-6">
                          <div class="row align-items-center">
                            <% if(itm.TIPEST===1) {%>
                              <span class="avatar avatar-rounded bg-green-lt">
                                <h6>
                                  <%- itm.USERID.slice(0,5) %>
                                </h6>
                              </span>
                              <div class="col text-truncate">
                                <span style="font-size: .7rem;">
                                  <%- itm.NOMUSU.slice(0,33) %>
                                </span>
                                <div class="col text-truncate text-muted">
                                  <span style="font-size: .6rem;">
                                    Oficina: <%- itm.DESOFI %>
                                  </span>
                                  <span style="font-size: .7rem; margin-left: 1rem;">
                                    Tlf: <%- itm.TELUSU %>
                                  </span>
                                </div>
                            </div>
                            <% } else { %>
                              <span class="avatar avatar-rounded bg-red-lt">
                                <h6>
                                  <%- itm.USERID.slice(0,5) %>
                                </h6>
                              </span>
                              <div class="col text-truncate">
                                <span style="font-size: .7rem;">
                                  <%- itm.NOMUSU.slice(0,33) %>
                                </span>
                                <div class="col text-muted">
                                  <span style="color: red;font-size: .7rem;">
                                    NO DISPONIBLE
                                  </span>
                                </div>
                              </div>
                            <% } %>
                          </div>
                        </div>
                        <% } %>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">
                        Liquidadores
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row g-3">
                        <% datos.estados.map(itm=> { %>
                        <% if (itm.PERROL===8) { %>
                        <div class="col-6">
                          <div class="row align-items-center">
                            <% if(itm.TIPEST===1) {%>
                              <span class="avatar avatar-rounded bg-green-lt">
                                <h6>
                                  <%- itm.USERID.slice(0,5) %>
                                </h6>
                              </span>
                              <div class="col text-truncate">
                                <span style="font-size: .7rem;">
                                  <%- itm.NOMUSU.slice(0,33) %>
                                </span>
                                <div class="col text-truncate text-muted">
                                  <span style="font-size: .6rem;">
                                    Oficina: <%- itm.DESOFI %>
                                  </span>
                                  <span style="font-size: .7rem; margin-left: 1rem;">
                                    Tlf: <%- itm.TELUSU %>
                                  </span>
                                </div>
                              </div>
                              <% } else { %>
                                <span class="avatar avatar-rounded bg-red-lt">
                                  <h6>
                                    <%- itm.USERID.slice(0,5) %>
                                  </h6>
                                </span>
                                <div class="col text-truncate">
                                  <span style="font-size: .7rem;">
                                    <%- itm.NOMUSU.slice(0,33) %>
                                  </span>
                                  <div class="col text-muted">
                                    <span style="color: red;font-size: .7rem;">
                                      NO DISPONIBLE
                                    </span>
                                  </div>
                                </div>
                                <% } %>
                          </div>
                        </div>
                        <% } %>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row row-cards">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <div class="card-title">
                        Informadores
                      </div>
                    </div>
                    <div class="list-group list-group-flush overflow-auto" style="max-height: 62.4rem">
                      <% oficinaActual = '' %>
                      <% datos.estados.map(itm=> { %>
                      <% if (itm.PERROL===3) { %>
                      <% if (itm.DESOFI !== oficinaActual) { %>
                      <div class="list-group-header sticky-top">
                        <%- itm.DESOFI %>
                        <% oficinaActual = itm.DESOFI %>
                      </div>
                      <% } %>
                      <div class="list-group-item">
                        <div class="row">
                          <% if(itm.TIPEST===1) {%>
                          <span class="avatar avatar-rounded bg-green-lt">
                            <h6>
                              <%- itm.USERID.slice(0,5) %>
                            </h6>
                          </span>
                          <div class="col text-truncate">
                            <span style="font-size: .7rem;">
                              <%- itm.NOMUSU.slice(0,33) %>
                            </span>
                            <div class="col text-truncate text-muted">
                              <span style="font-size: .6rem;">
                                Oficina: <%- itm.DESOFI %>
                              </span>
                              <span style="font-size: .7rem; margin-left: 1rem;">
                                Tlf: <%- itm.TELUSU %>
                              </span>
                            </div>
                          </div>
                          <% } else { %>
                          <span class="avatar avatar-rounded bg-red-lt">
                            <h6>
                              <%- itm.USERID.slice(0,5) %>
                            </h6>
                          </span>
                          <div class="col text-truncate">
                            <span style="font-size: .7rem;">
                              <%- itm.NOMUSU.slice(0,33) %>
                            </span>
                            <div class="col text-muted">
                              <span style="color: red;font-size: .7rem;">
                                NO DISPONIBLE
                              </span>
                            </div>
                          </div>
                          <% } %>
                        </div>
                      </div>
                      <% } %>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
</body>

</html>