<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Calendario</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/js-year-calendar.min.css">
  <style>
    .calendar-header {
      border: none !important;
      margin-bottom: 0 !important;
    }
    .subtitulo {
      margin: 0;
      align-items: center;
      justify-content: center;
      color: #656d77;
      pointer-events: none;
      font-size: 0.8em;
    }
    .day {
      border: 1px solid #e6e8e9 !important;
    }
    .new, .old {
      border: none !important;
    }
    .calendar table.month th.day-header {
      font-size: 0.75rem;
      color: #616876;
    }
  </style>
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/calendarios/update" method="POST" onclick="return confirm();">
                  <input type="hidden" name="usuario" id="usuario" value="<%= JSON.stringify(datos.usuario) %>" />
                  <input type="hidden" name="eventos" id="eventos" value="" />
                  <div class="card-header p-2">
                    <div class="d-block">
                      <h3 class="card-title">Calendario</h3>
                      <div>
                        <p class="subtitulo">
                          <span class="text-muted">
                            <%- datos.usuario.NOMUSU %>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-2">
                    <div class="row">
                      <div class="col-2">
                        <div class="mb-1">
                          <select class="form-select" id="cboyea" value="">
                            <option value="<%- new Date().getFullYear() %>">
                              <%- new Date().getFullYear() %>
                            </option>
                            <option value="<%- new Date().getFullYear() +1 %>">
                              <%- new Date().getFullYear() +1 %>
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <select class="form-select form-control" id="cboest" value="">
                              <option value="0">SELECCIONE ESTADO</option>
                              <% datos.arrTiposEstado.map(element=> { %>
                                <option value="<%- element.ID %>" data-foo="<%- element.COLOR %>">
                                  <%- element.DES %>
                                </option>
                                <% }) %>
                            </select>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="calendar" class="form-control"></div>
                  </div>
                  <div class="card-footer p-2">
                    <div class="d-flex">
                      <a href="/admin/calendarios" class="btn btn-white">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" height="24" width="24" viewBox="0 0 24 24"
                          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke-width=".4" fill="none"
                            d="M11.025 19.575H5.9q-.65 0-1.062-.412-.413-.413-.413-1.038V5.875q0-.65.413-1.063.412-.412.987-.412h4.8q.1-.5.463-.838.362-.337.887-.337t.888.337q.362.338.462.838h4.8q.65 0 1.063.412.412.413.412 1.063V10h-.65V5.85q0-.3-.25-.55-.25-.25-.55-.25h-2.525v1.925H8.4V5.05H5.875q-.3 0-.55.25-.25.25-.25.55v12.275q0 .3.25.55.25.25.55.25h5.15Zm4.45-.675L12.2 15.6l.45-.45 2.825 2.825 5.65-5.65.475.45ZM12 5.3q.325 0 .525-.212.2-.213.2-.513 0-.3-.212-.513-.213-.212-.488-.212-.325 0-.525.212-.2.213-.2.513 0 .3.2.513.2.212.5.212Z" />
                        </svg>
                        Actualizar cambios
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
  <div class="modal modal-blur fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container-xl">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body p-0">
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <div class="mb-1">
                    <div class="form-label">Desde</div>
                    <input type="date" id="desfec" name="desfec" class="form-control">
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-1">
                    <div class="form-label">Hasta</div>
                    <input type="date" id="hasfec" name="hasfec" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="mb-1">
                    <div class="form-label">Desde hora</div>
                    <input type="time" id="deshor" name="deshor" class="form-control" min="08:00" max="20:00">
                  </div>
                </div>
                <div class="col-6">
                  <div class="mb-1">
                    <div class="form-label">Hasta hora</div>
                    <input type="time" id="hashor" name="hashor" class="form-control" min="08:00" max="20:00">
                  </div>
                </div>
                <div class="input-control">
                  <input type="hidden" id="msgfor" name="msgfor" class="form-control">
                  <div class="invalid-feedback"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" id="btnHorasCancel" data-bs-dismiss="modal"
              aria-label="Close">Cancelar</button>
            <button type="button" class="btn btn-primary ms-auto" onclick="eventoRango()">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-evnts" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container-xl">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="card-body">
              <table class="table table-vcenter table-striped" id="tblEventos">
                <thead>
                  <tr class="header">
                    <th>Evento</th>
                    <th class="w-4"></th>
                  </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" id="btnEventCancel" data-bs-dismiss="modal"
              aria-label="Close">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal modal-blur fade" id="modal-solape" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container-xl">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="modal-title">Solape de eventos</div>
            <div>Hay un evento previo en esta fecha</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" id="btnSolapeAcept" data-bs-dismiss="modal"
              aria-label="Close">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script src="/js/js-year-calendar.js"></script>
  <script src="/js/js-year-calendar.es.js"></script>
  <script src="/js/calendariosAdmin.js"></script>
  <script>
    const colores = <%- JSON.stringify(datos.arrColoresEstado) %>
    const festivos = <%- JSON.stringify(datos.festivos) %>
    const festivos = <%- JSON.stringify(datos.tiposEstado) %>
    let dataSource = <% - datos.dataSource %>
  </script>
</body>

</html>