<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Cursos</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', { opcion: 'CURSO' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/cursos/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="idcurs" id="idcurs" value=<%- datos.curso.IDCURS %>>
                  <div class="card-header">
                    <h3 class="card-title">Curso</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <label class="form-label required">Descripci贸n</label>
                          <input type="text" name="descur" id="descur" class="form-control" value="<%- datos.curso.DESCUR %>" style="text-transform: uppercase;" autofocus />
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">Duraci贸n</label>
                          <input type="text" name="durcur" id="durcur" class="form-control" value="<%- datos.curso.DURCUR %> " />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <label class="form-label">Ponente</label>
                          <input type="text" name="poncur" id="poncur" class="form-control" value="<%- datos.curso.PONCUR %> " />
                          <div class="invalid-feedback"></div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <div class="form-label required">Estado</div>
                              <select class="form-select" id="cboest" name="stacur" value="">
                                <% datos.arrEstadosCurso.map(element=> { %>
                                  <option value="<%- element.id %>" <%- element.id===datos.curso.STACUR ? " selected" :"" %>>
                                    <%- element.des %>
                                  </option>
                                  <% }) %>
                              </select>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-1">
                          <div class="form-label">Informaci贸n adicional</div>
                          <textarea name="notcur" id="notcur" class="form-control" rows="3" style="resize: vertical"><%= datos.curso.NOTCUR %></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/cursos" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar curso</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const descur = document.getElementById('descur')

    const validate = () => {
      const descurValue = descur.value.trim()

      if (descurValue === '') {
        setError(descur, 'Descripci贸n requerida')
        setTimeout(function() {
          setSuccess(descur)
        }, 3000)
        return false
      } else {
        setSuccess(descur)
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>

</html>