<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Oficinas</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION'}) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="card mt-3">            
                <form action="/admin/oficinas/update" method="POST" onsubmit="return validate();">
                  <input type="hidden" id="idofic" name="idofic" value="<%- datos.oficina.IDOFIC %>">
                  <div class="card-header">
                    <h3 class="card-title">Oficina</h3>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">Descripci贸n</label>
                            <input type="text" name="desofi" id="desofi" class="form-control" style="text-transform: uppercase;" value="<%- datos.oficina.DESOFI %>" autofocus/>
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-1">
                          <div class="input-control">
                            <label class="form-label required">C贸digo</label>
                            <input type="text" name="codofi" id="codofi" class="form-control" style="text-transform: uppercase;" value="<%- datos.oficina.CODOFI %>" />
                            <div class="invalid-feedback"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <a href="/admin/oficinas" class="btn btn-link">Cancelar</a>
                      <button type="submit" class="btn btn-primary ms-auto" id="btnUpdate">Actualizar oficina</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
  <script>
    const desofi = document.getElementById('desofi')
    const codofi = document.getElementById('codofi')

    const validate = () => {
      const desofiValue = desofi.value.trim()
      const codofiValue = codofi.value.trim()

      if (desofiValue === '') {
        setError(desofi, 'Descripci贸n requerida')
        setTimeout(function () {
          setSuccess(desofi)
        }, 3000)
        return false
      }
      if (codofiValue === '') {
        setError(codofi, 'C贸digo requerido')
        setTimeout(function () {
          setSuccess(codofi)
        }, 3000)
        return false
      }

      return true
    }

    const setSuccess = (element) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = '';
      inputControl.classList.add('is-valid');
      element.classList.remove('is-invalid');
    }
    const setError = (element, message) => {
      const inputControl = element.parentElement;
      const errorDisplay = inputControl.querySelector('.invalid-feedback');

      errorDisplay.innerText = message;
      element.classList.add('is-invalid');
      inputControl.classList.remove('is-valid');
    }
  </script>
</body>
</html>