<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Hitos/Eventos</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <!-- custom -->
    <link rel="stylesheet" href="/css/estilos.min.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <style>
      .sortable th {
        cursor: pointer;
      }
      .sortable .th-sort-asc::after {
        content: "\25b4";
      }
      .sortable .th-sort-desc::after {
        content: "\25be";
      }
      .sortable .th-sort-asc::after,
      .sortable .th-sort-desc::after {
        margin-left: 5px;
      }
      .subtitulo {
        margin: 0;
        align-items: center;
        justify-content: center;
        color: #656d77;
        pointer-events: none;
        font-size: 0.8em;
      }
      .table-fixHead tbody {
        overflow-y: scroll;
        height: 22vh;
        display: block;
        flex: 1 1 auto;
      }
    </style>
  </head>
  <body class="antialiased">
    <div class="wrapper">
      <%- include('../../../partials/header') %>
      <%- include('../../../partials/navbar', {opcion: 'FRAUDES'}) %>
      <div class="page-wrapper">
        <div class="container-xl">
          <div class="page-body">
            <div class="row row-deck row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">Hitos</h3>
                      <p class="subtitulo">
                        <%- datos.fraude.NIFCON %> <%- datos.fraude.NOMCON %>
                      </p>                    
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="d-flex">
                        <div class="input-icon me-3">
                          <span class="input-icon-addon"><i class="bi bi-search"></i></span>
                          <input type="text" class="form-control d-inline-block me-3" id="buscarHitoBox" onkeyup="filtroHitos();" placeholder="Buscar..." aria-label="Buscar en sms">
                        </div>
                        <a href="/admin/fraudes/hitos/add/<%- datos.fraude.IDFRAU %>" class="btn btn-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                          </svg>
                          Nuevo
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table table-vcenter table-striped table-fixHead sortable" id="tblHitos">
                      <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th class="w-8 px-3">Fecha</th>
                        <th>Tipo</th>
                        <th>Observaciones</th>
                        <th class="w-9">Valor</th>
                        <th class="w-5"></th>
                      </tr>
                      </thead>
                      <tbody>
                        <% datos.hitos.map(element => { %>
                          <tr>
                            <td class="w-4">
                              <% if (element.STAHIT === datos.estadosHito.sancionAnulada) { %>
                                <span class="avatar avatar-rounded bg-red-lt">
                                  <h6>ANUL</h6>
                                </span>
                              <% } else { %>
                                <span class="avatar avatar-rounded bg-green-lt">
                                  <h6>OK</h6>
                                </span>
                              <% } %>
                            </td>                            
                            <td class="w-8 px-3">
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.STRFEC %></div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.DESTIP %></div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <% if (element.OBSHIT !== null) { %>
                                    <div class="font-weight-medium"><%- element.OBSHIT %></div>
                                  <% }%>
                                </div>
                              </div>
                            </td>
                            <td class="w-9">
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.IMPHIT %></div>
                                </div>
                              </div>
                            </td>
                            <td class="text-end w-5">
                              <ul class="dots-menu">
                                <li class="nav-item drop-right">
                                  <a href="#" class="nav-link">
                                    <i class="bi bi-three-dots-vertical"></i>
                                  </a>
                                  <ul>
                                    <li class="nav-item">
                                      <a href="/admin/fraudes/hitos/edit/<%- datos.fraude.IDFRAU %>/<%- element.IDHITO %>" class="nav-link">
                                        <i class="bi bi-pencil dropdown-item-icon"></i>Editar hito
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link" onclick="{document.getElementById('idhito').value ='<%- element.IDHITO %>', document.getElementById('texdel').innerHTML ='<p><%- element.STRFEC %></p><p><%- element.DESTIP %></p>'}" data-bs-toggle="modal" data-bs-target="#modal-borrarHito">
                                        <i class="bi bi-trash dropdown-item-icon"></i>Borrar hito
                                      </a>
                                    </li>
                                    <% if(element.STAHIT === datos.estadosHito.sancion) { %>
                                    <li class="nav-item list-divider"></li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link" onclick="{document.getElementById('archito').value ='<%- element.IDHITO %>', document.getElementById('texarc').innerHTML ='<p><%- element.STRFEC %></p><p><%- element.DESTIP %></p>'}" data-bs-toggle="modal" data-bs-target="#modal-archivo">
                                        <i class="bi bi-archive dropdown-item-icon"></i>Archivado de sanción
                                      </a>
                                    </li>
                                    <% } %>
                                  </ul>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-0">
                <div class="card">
                  <div class="card-header">
                    <div>
                      <h3 class="card-title">Eventos</h3>
                      <p class="subtitulo">
                        <%- datos.fraude.NIFCON %> <%- datos.fraude.NOMCON %>
                      </p>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="d-flex">
                        <div class="input-icon me-3">
                          <span class="input-icon-addon"><i class="bi bi-search"></i></span>
                          <input type="text" class="form-control d-inline-block me-3" id="buscarEventoBox" onkeyup="filtroEventos();" placeholder="Buscar..." aria-label="Buscar en sms">
                        </div>
                        <a href="/admin/fraudes/eventos/add/<%- datos.fraude.IDFRAU %>" class="btn btn-primary">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                          </svg>
                          Nuevo
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <table class="table table-vcenter table-striped table-fixHead sortable" id="tblEventos">
                      <thead>
                      <tr class="header">
                        <th class="w-4"></th>
                        <th class="w-8 px-3">Fecha</th>
                        <th>Tipo</th>
                        <th>Observaciones</th>
                        <th class="w-4"></th>
                      </tr>
                      </thead>
                      <tbody>
                        <% datos.eventos.map(element => { %>
                          <tr>
                            <td class="w-4">
                              <span class="avatar avatar-rounded bg-green-lt">
                                <h5>OK</h5>
                              </span>
                            </td>                            
                            <td class="w-8 px-3">
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.STRFEC %></div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.DESTIP %></div>
                                </div>
                              </div>
                            </td>
                            <td>
                              <div class="d-flex py-1 align-items-center">
                                <div class="flex-fill">
                                  <div class="font-weight-medium"><%- element.OBSEVE %></div>
                                </div>
                              </div>
                            </td>
                            <td class="text-end w-4">
                              <ul class="dots-menu">
                                <li class="nav-item drop-right">
                                  <a href="#" class="nav-link">
                                    <i class="bi bi-three-dots-vertical"></i>
                                  </a>
                                  <ul>
                                    <li class="nav-item">
                                      <a href="/admin/fraudes/eventos/edit/<%- datos.fraude.IDFRAU %>/<%- element.IDEVEN %>" class="nav-link">
                                        <i class="bi bi-pencil dropdown-item-icon"></i>Editar evento
                                      </a>
                                    </li>
                                    <li class="nav-item">
                                      <a href="#" class="nav-link" onclick="{document.getElementById('ideven').value ='<%- element.IDEVEN %>', document.getElementById('deleve').innerHTML ='<p><%- element.STRFEC %></p><p><%- element.DESTIP %></p>'}" data-bs-toggle="modal" data-bs-target="#modal-borrarEvento">
                                        <i class="bi bi-trash dropdown-item-icon"></i>Borrar evento
                                      </a>
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-12 mt-0">
                <a href="/admin/fraudes" class="btn btn-link ms-auto">Salir</a>                
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('../../../partials/footer') %>
    </div>
    
    <div class="modal modal-blur fade" id="modal-borrarHito" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>¿Desea borrar este hito?</h3>
            <div id="texdel"></div>
            <div class="text-muted">Lo que vas a hacer no puede ser recuperado.</div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/fraudes/hitos/<%- datos.fraude.IDFRAU %>" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/fraudes/hitos/delete" method="POST">
                    <input type="hidden" id="idhito" name="idhito" value="">
                    <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">
                    <button type="submit" class="btn btn-danger w-100" id="btnBorrarHito">Borrar hito</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-borrarEvento" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-danger"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>¿Desea borrar este evento?</h3>
            <div id="deleve"></div>
            <div class="text-muted">Lo que vas a hacer no puede ser recuperado.</div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/fraudes/hitos/<%- datos.fraude.IDFRAU %>" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/fraudes/eventos/delete" method="POST">
                    <input type="hidden" id="ideven" name="ideven" value="">
                    <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">
                    <button type="submit" class="btn btn-danger w-100" id="btnBorrarEvento">Borrar evento</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modal-blur fade" id="modal-archivo" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="modal-status bg-primary"></div>
          <div class="modal-body text-center py-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 9v2m0 4v.01"></path>
              <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
            </svg>
            <h3>Archivado de sanción</h3>
            <div id="texarc"></div>
          </div>
          <div class="modal-footer">
            <div class="w-100">
              <div class="row">
                <div class="col">
                  <a href="/admin/fraudes/hitos/<%- datos.fraude.IDFRAU %>" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
                </div>
                <div class="col">
                  <form action="/admin/fraudes/hitos/archivado" method="POST">
                    <input type="hidden" id="archito" name="idhito" value="">
                    <input type="hidden" id="idfrau" name="idfrau" value="<%- datos.fraude.IDFRAU %>">                  
                    <button type="submit" class="btn btn-primary w-100">Archivado de sanción</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/ayuda.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>    
    <script>
      const messages = document.getElementById('messages')
      const socket = io()

      socket.on('receive-message', msg => {
        const li = document.createElement('li')
        li.textContent = msg
        messages.appendChild(li)

        const toggleBadge = document.querySelector('#toggleBadge');
        const numeroMensajes = messages.getElementsByTagName("li").length
        if (numeroMensajes === 1) {
          toggleBadge.classList.toggle('d-none')
        }
      })
    </script>
    <script>
      function filtroHitos() {
        const filter = document.querySelector('#buscarHitoBox').value.toUpperCase()

        document.querySelectorAll('#tblHitos tr:not(.header)').forEach((tr) => {
          const anyMatch = [...tr.children].some(td => td.textContent.toUpperCase().includes(filter));
          anyMatch ? tr.style.display = '' : tr.style.display = 'none'
        });
      }
      function filtroEventos() {
        const filter = document.querySelector('#buscarEventoBox').value.toUpperCase()

        document.querySelectorAll('#tblEventos tr:not(.header)').forEach((tr) => {
          const anyMatch = [...tr.children].some(td => td.textContent.toUpperCase().includes(filter));
          anyMatch ? tr.style.display = '' : tr.style.display = 'none'
        });
      }
    </script>
    <script>
      function sortTableByColumn(table, column, asc = true) {
        const dirModifier = asc ? 1 : -1;
        const tBody = table.tBodies[0];
        const rows = Array.from(tBody.querySelectorAll("tr"));

        const sortedRows = rows.sort((a, b) => {
          const aColText = a.cells[column].textContent;
          const bColText = b.cells[column].textContent;

          return aColText > bColText ? (1 * dirModifier) : (-1 * dirModifier);
        });

        for(let row of sortedRows) {
          tBody.appendChild( row );
        }

        table.querySelectorAll("th").forEach(th => th.classList.remove("th-sort-asc", "th-sort-desc"));
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-asc", asc);
        table.querySelector(`th:nth-child(${ column + 1})`).classList.toggle("th-sort-desc", !asc);
      }

      document.querySelectorAll(".sortable th").forEach(headerCell => {
        headerCell.addEventListener("click", () => {
          const tableElement = headerCell.parentElement.parentElement.parentElement;
          const headerIndex = Array.prototype.indexOf.call(headerCell.parentElement.children, headerCell);
          const currentIsAscending = headerCell.classList.contains("th-sort-asc");
          
          sortTableByColumn(tableElement, headerIndex, !currentIsAscending);
        });
      });
    </script>
  </body>
</html>