<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Matrículas</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/card-stamp.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../../partials/header') %>
    <%- include('../../../partials/navbar', {opcion: 'FORMACION'}) %>
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row align-items-center">
          <div class="col">
            <h1 class="page-title pt-2 mb-2">
              Matrículas
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <% if (datos.matriculas.length === 0) { %>
            <p class="text-center">
              El listado de matrículas no contiene elementos
            </p>
            <% } %>
            <% datos.matriculas.map(itm => { %>
            <div class="col-12">
              <div class="card">
                <div class="card-stamp">
                  <div class="card-stamp-icon bg-yellow">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                      stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M10 5a2 2 0 0 1 4 0a7 7 0 0 1 4 6v3a4 4 0 0 0 2 3h-16a4 4 0 0 0 2 -3v-3a7 7 0 0 1 4 -6"></path>
                      <path d="M9 17v1a3 3 0 0 0 6 0v-1"></path>
                    </svg>
                  </div>
                </div>
                <div class="card-body">
                  <h3 class="card-title"><%- itm.DESMAT %></h3>
                  <p class="text-muted">
                    <%= itm.NOTMAT %>
                  </p>                  
                  <div class="mt-2">
                    <div class="col">
                      <a href="#" class="btn btn-white" onclick="{document.getElementById('idusua').value =<%- user.id %>, document.getElementById('idcurs').value =<%- itm.IDCURS %>, document.getElementById('idmatr').value =<%- itm.IDMATR %>, document.getElementById('msgmat').innerHTML ='<p><%- itm.DESMAT %></p>'}" data-bs-toggle="modal" data-bs-target="#modal-matricula">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline me-2" width="24" height="24" viewBox="0 0 24 24"
                          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke-width=".4" fill="none"
                            d="m12 19.1-.5-.45q-2.4-2.2-3.975-3.763-1.575-1.562-2.488-2.737-.912-1.175-1.262-2.113-.35-.937-.35-1.887 0-1.725 1.188-2.913Q5.8 4.05 7.55 4.05q1.3 0 2.438.712Q11.125 5.475 12 6.85q.9-1.375 2.025-2.088 1.125-.712 2.45-.712 1.725 0 2.913 1.187 1.187 1.188 1.187 2.913 0 .95-.35 1.887-.35.938-1.263 2.113-.912 1.175-2.474 2.737-1.563 1.563-3.988 3.763Zm0-.85q2.375-2.175 3.912-3.7 1.538-1.525 2.438-2.663.9-1.137 1.25-2.012t.35-1.7q0-1.5-1-2.5t-2.475-1q-1.2 0-2.213.687-1.012.688-1.937 2.188H11.7q-.975-1.525-1.962-2.2-.988-.675-2.213-.675-1.45 0-2.45 1-1 1-1 2.5 0 .85.35 1.712.35.863 1.238 1.988Q6.55 13 8.088 14.537 9.625 16.075 12 18.25Zm0-6.8Z" />
                        </svg>
                        Quiero matricularme
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../partials/footer') %>
  </div>

  <div class="modal modal-blur fade" id="modal-matricula" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="modal-status bg-primary"></div>
        <div class="modal-body text-center py-4">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-blue icon-lg" width="24" height="24"
            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 9v2m0 4v.01"></path>
            <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
          </svg>
          <h3>Matrícula del curso</h3>
          <div id="msgmat"></div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row">
              <div class="col">
                <a href="#" class="btn btn-white w-100" data-bs-dismiss="modal">Cancelar</a>
              </div>
              <div class="col">
                <form action="/admin/formacion/matriculas/usuarios/insert" method="POST">
                  <input type="hidden" id="idusua" name="idusua" value="">
                  <input type="hidden" id="idcurs" name="idcurs" value="">
                  <input type="hidden" id="idmatr" name="idmatr" value="">
                  <button type="submit" class="btn btn-success w-100">Confirmar matriculación</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/ayuda.min.js"></script>
</body>

</html>