<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Calendario</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'ADMINISTRACION' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <form action="/admin/calendarios/calendario" method="POST" onsubmit="return validate();">
                  <input type="hidden" name="usuario" value="<%= JSON.stringify(datos.usuario) %>">
                  <div class="card-header">
                    <h3 class="card-title">Usuarios</h3>
                  </div>
                  <div class="card-body">
                    <table class="table table-vcenter table-striped sortable" id="tblUsuarios">
                      <thead>
                        <tr class="header">
                          <th class="w-4"></th>
                          <th>Nombre</th>
                          <th>Oficina</th>
                          <th class="w-5 text-end">Vacas</th>
                          <th class="w-5 text-end">Horas</th>
                          <th class="w-5 text-end">Forma</th>
                          <th class="w-5 text-end">Conci</th>
                          <th class="w-5 text-end">Telef</th>
                        </tr>
                      </thead>
                      <tbody id="table-body">
                        <tr>
                          <td class="w-4">
                            <% if (datos.usuario.STAUSU === datos.estadosUsuario.activo) { %>
                              <div class="align-items-center">
                                <span class="avatar avatar-rounded bg-green-lt">
                                  <h6><%- datos.usuario.USERID.slice(0,5) %></h6>
                                </span>
                              </div>
                            <% } else { %>
                              <div class="align-items-center">
                                <span class="avatar avatar-rounded bg-red-lt">
                                  <h6><%- datos.usuario.USERID.slice(0,5) %></h6>
                                </span>
                              </div>
                            <% } %>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium"><%- datos.usuario.NOMUSU %></div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium"><%- datos.usuario.DESOFI %></div>
                              </div>
                            </div>
                          </td>
                          <td class="w-5">
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium text-end"><%- datos.usuario.VACAS %></div>
                              </div>
                            </div>
                          </td>
                          <td class="w-5">
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium text-end"><%- datos.usuario.HORAS %></div>
                              </div>
                            </div>
                          </td>
                          <td class="w-5">
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium text-end"><%- datos.usuario.FORMA %></div>
                              </div>
                            </div>
                          </td>
                          <td class="w-5">
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium text-end"><%- datos.usuario.CONCI %></div>
                              </div>
                            </div>
                          </td>
                          <td class="w-5">
                            <div class="d-flex align-items-center">
                              <div class="flex-fill">
                                <div class="font-weight-medium text-end"><%- datos.usuario.TELEF %></div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer text-end">
                    <div class="d-flex">
                      <button type="submit" class="btn btn-primary ms-auto">Ver Calendario</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>
      
  <script src="/js/ayuda.min.js"></script>
</body>

</html>