<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Calendario</title>
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <!-- styles -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="antialiased">
  <div class="wrapper">
    <%- include('../../partials/header') %>
    <%- include('../../partials/navbar', {opcion: 'CALENDARIO' }) %>
    <div class="page-wrapper">
      <div class="page-body">
        <div class="container-xl">
          <div class="row row-cards">
            <div class="col-12">
              <form action="/user/calendarios/calendario" class="card" method="POST">
                <div class="card-header">
                  <h3 class="card-title">Contadores</h3>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="subheader">Vacaciones</div>
                          </div>
                          <div class="d-flex align-items-center mb-3">
                            <div class="page-title-lg"><%- datos.usuario.VACAS %></div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="subheader">Pendientes</div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="h2">0</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="subheader">Horas Libre DispOsición</div>
                          </div>
                          <div class="d-flex align-items-center mb-3">
                            <div class="page-title-lg"><%- datos.usuario.HORAS %></div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="subheader">Pendientes</div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="h2">0</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="subheader">Conciliación Familiar</div>
                          </div>
                          <div class="d-flex align-items-center mb-3">
                            <div class="page-title-lg"><%- datos.usuario.CONCI %></div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="subheader">Pendientes</div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="h2">0</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="subheader">Teléfono</div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="page-title-lg"><%= datos.usuario.TELEF %></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mt-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex align-items-center">
                            <div class="subheader">Formación</div>
                          </div>
                          <div class="d-flex align-items-center">
                            <div class="page-title-lg"><%= datos.usuario.FORMA %></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-end">
                  <div class="d-flex">
                    <input type="hidden" name="usuario" value="<%= JSON.stringify(datos.usuario) %>">
                    <button type="submit" class="btn btn-primary ms-auto">Ver Calendario</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../partials/footer') %>
  </div>

  <script src="/js/ayuda.min.js"></script>
</body>

</html>